Repository phantomcyber/phantom-apps, pull requests merged in 2019-10, with the labels that each got.

#118 Corelight - initial app submission and all bugs fixation
  Apps/phcorelight/__init__.py
  Apps/phcorelight/corelight.json
  Apps/phcorelight/corelight_connector.py
  Apps/phcorelight/logo_corelight.svg
  Apps/phcorelight/logo_corelight_dark.svg
Labels: appname-corelight

#120 Twitter - Initial app submission and all bug fixations
  Apps/phtwitter/__init__.py
  Apps/phtwitter/logo_twitter.svg
  Apps/phtwitter/logo_twitter_dark.svg
  Apps/phtwitter/readme.html
  Apps/phtwitter/twitter.json
  Apps/phtwitter/twitter_connector.py
  Apps/phtwitter/wheels/twitter-1.18.0-py2.py3-none-any.whl
Labels: appname-twitter

#121 Twitter: Adding license details in the readme.html
  Apps/phtwitter/readme.html
Labels: appname-twitter

#124 PAPP-8796: Github-issues/115: AWS Security Hub: Update the logo file
  Apps/phawssecurityhub/awssecurityhub.json
  Apps/phawssecurityhub/logo_awssecurityhub.svg
  Apps/phawssecurityhub/logo_awssecurityhub_dark.svg
Labels: appname-awssecurityhub

#129 Merge phrss into github from directory phrss
  Apps/phrss/__init__.py
  Apps/phrss/logo_rssorange.svg
  Apps/phrss/logo_rssorange_dark.svg
  Apps/phrss/parser.py
  Apps/phrss/parser_helper.py
  Apps/phrss/rss.json
  Apps/phrss/rss_connector.py
Labels: appname-rss
