Repository phantomcyber/phantom-apps, pull requests merged in 2019-11, with the labels that each got.

#131 Merge phciscocatalyst into github from directory ciscocatalyst
  Apps/phciscocatalyst/__init__.py
  Apps/phciscocatalyst/cisco.png
  Apps/phciscocatalyst/ciscocatalyst.json
  Apps/phciscocatalyst/ciscocatalyst_connector.py
  Apps/phciscocatalyst/ciscocatalyst_consts.py
  Apps/phciscocatalyst/readme.html
Labels: appname-cisco-catalyst

#119 Infoblox Dossier: initial app submission and all bug fixations
  Apps/phdossier/__init__.py
  Apps/phdossier/dossier.json
  Apps/phdossier/dossier_connector.py
  Apps/phdossier/logo_dossier.svg
  Apps/phdossier/logo_dossier_dark.svg
Labels: appname-dossier

#139 Added option to ignore parsing errors. Github issue 138
  Apps/phrss/rss.json
  Apps/phrss/rss_connector.py
Labels: appname-rss

#153 PAPP-8988: Adding readme.html
  Apps/phdossier/readme.html
Labels: appname-dossier
