Repository phantomcyber/phantom-apps, pull requests merged in 2020-02, with the labels that each got.

#189 IronNet - All bugs fixes for the full app QA as a community app
  Apps/phironnet/ironnet.json
  Apps/phironnet/ironnet_connector.py
  Apps/phironnet/ironnet_dark.png
  Apps/phironnet/ironnet_light.png
  Apps/phironnet/logo_ironnet.svg
  Apps/phironnet/logo_ironnet_dark.svg
Labels: appname-ironnet

#142 Windows Defender ATP: Bug fixation for test connectivity
  Apps/phwindowsdefenderatp/__init__.py
  Apps/phwindowsdefenderatp/readme.html
  Apps/phwindowsdefenderatp/windowsdefenderatp.json
  Apps/phwindowsdefenderatp/windowsdefenderatp_connector.py
  Apps/phwindowsdefenderatp/windowsdefenderatp_consts.py
Labels: appname-windowsdefenderatp

#195 Cisco Threat Response - Initial app submission and release with all bugs fixes
  Apps/phciscothreatresponse/__init__.py
  Apps/phciscothreatresponse/ciscothreatresponse.json
  Apps/phciscothreatresponse/ciscothreatresponse_connector.py
  Apps/phciscothreatresponse/ciscothreatresponse_display_context.html
  Apps/phciscothreatresponse/ciscothreatresponse_display_verdict.html
  Apps/phciscothreatresponse/ciscothreatresponse_view.py
  Apps/phciscothreatresponse/logo_ciscothreatresponse.svg
  Apps/phciscothreatresponse/logo_ciscothreatresponse_dark.svg
  Apps/phciscothreatresponse/readme.html
Labels: appname-cisco-threat-response
