Repository phantomcyber/phantom-apps, pull requests merged in 2020-11, with the labels that each got.

#372 PAPP-11528 updated license info in json file and moved constants
  Apps/phhaveibeenpwned/haveibeenpwned.json
  Apps/phhaveibeenpwned/haveibeenpwned_connector.py
  Apps/phhaveibeenpwned/haveibeenpwned_consts.py
Labels: PAPP-11528, appname-haveibeenpwned

#351 Cofense Triage[PAPP-11335] Community app submission with bugs fixes
  Apps/phcofensetriage/cofensetriage.json
  Apps/phcofensetriage/cofensetriage_connector.py
  Apps/phcofensetriage/cofensetriage_consts.py
  Apps/phcofensetriage/readme.html
  Apps/phcofensetriage/todo.txt
Labels: PAPP-11335, appname-cofense-triage

#356 SplunkItSi(PAPP-11321) Community app update with bug fixes
  Apps/phsplunkitsi/README.md
  Apps/phsplunkitsi/splunkitsi.json
  Apps/phsplunkitsi/splunkitsi_connector.py
  Apps/phsplunkitsi/splunkitsi_consts.py
Labels: PAPP-11321, appname-splunkitsi

#364 HackerOne: Community app submission with bugs fixes
  Apps/phhackerone/hackerone.json
  Apps/phhackerone/hackerone_connector.py
  Apps/phhackerone/hackerone_consts.py
  Apps/phhackerone/hackerone_report_template.json
  Apps/phhackerone/logo_hackerone.svg
  Apps/phhackerone/logo_hackerone_dark.svg
Labels: PAPP-10075, appname-hackerone

#365 SMime(PAPP-9590): Community app submission with bug fixes
  Apps/phsmime/__init__.py
  Apps/phsmime/logo_smime.svg
  Apps/phsmime/logo_smime_dark.svg
  Apps/phsmime/readme.html
  Apps/phsmime/smime.json
  Apps/phsmime/smime_connector.py
  Apps/phsmime/smime_consts.py
  Apps/phsmime/wheels/M2Crypto-0.35.2-cp27-cp27mu-linux_x86_64.whl
  Apps/phsmime/wheels/typing-3.7.4.1-py2-none-any.whl
Labels: PAPP-9590, appname-smime

#350 Detection on Demand(PAPP-11332): Initial app submission and bugs fixes
  Apps/phdetectionondemand/__init__.py
  Apps/phdetectionondemand/detectionondemand.json
  Apps/phdetectionondemand/detectionondemand_connector.py
  Apps/phdetectionondemand/detectionondemand_consts.py
  Apps/phdetectionondemand/logo_detectionondemand.svg
  Apps/phdetectionondemand/logo_detectionondemand_dark.svg
  Apps/phdetectionondemand/readme.html
Labels: PAPP-11332, appname-detectionondemand

#363 Proofpoint[PAPP-9709]: Community App Update with Bug Fixes
  Apps/phproofpoint/__init__.py
  Apps/phproofpoint/proofpoint.json
  Apps/phproofpoint/proofpoint_connector.py
  Apps/phproofpoint/proofpoint_consts.py
Labels: PAPP-9709, appname-proofpoint

#369 Symantecmc(PAPP-11269): Community app update with bugs fixes
  Apps/phsymantecmc/__init__.py
  Apps/phsymantecmc/symantecmanagementcenter.json
  Apps/phsymantecmc/symantecmanagementcenter_connector.py
  Apps/phsymantecmc/symantecmanagementcenter_consts.py
Labels: appname-symantec-managementcenter, papp-11269

#390 Symantecmc(PAPP-11269): Minor Changes regarding Exception handling for Unicode
  Apps/phsymantecmc/symantecmanagementcenter_connector.py
Labels: appname-symantec-managementcenter, papp-11269

#392 Detection on Demand(PAPP-11332): Added Apache license to files
  Apps/phdetectionondemand/__init__.py
  Apps/phdetectionondemand/detectionondemand.json
  Apps/phdetectionondemand/detectionondemand_connector.py
  Apps/phdetectionondemand/detectionondemand_consts.py
  Apps/phdetectionondemand/readme.html
Labels: PAPP-11332, appname-detectionondemand

#375 Digital Guardian ARC(PAPP-10070): Community app submission with bug fixes
  Apps/phdigitalguardianarc/__init__.py
  Apps/phdigitalguardianarc/digitalguardianarc.json
  Apps/phdigitalguardianarc/digitalguardianarc_connector.py
  Apps/phdigitalguardianarc/digitalguardianarc_consts.py
  Apps/phdigitalguardianarc/logo_digitalguardianarc.svg
  Apps/phdigitalguardianarc/logo_digitalguardianarc_dark.svg
  Apps/phdigitalguardianarc/readme.html
Labels: PAPP-10070, appname-digitalguardian

#376 Radar(PAPP-11270): Community app update with bugs fixes
  Apps/phradar/radar.json
  Apps/phradar/radar_connector.py
  Apps/phradar/radar_consts.py
  Apps/phradar/readme.html
Labels: appname-radar, papp-11270

#400 URLHaus(PAPP-11350): Updating the license and publisher details in the JSON
  Apps/phurlhaus/urlhaus.json
Labels: PAPP-11350, appname-urlhaus

#391 SMime(PAPP-9590): Minor change in Licensing Details
  Apps/phsmime/__init__.py
  Apps/phsmime/readme.html
  Apps/phsmime/smime_connector.py
  Apps/phsmime/smime_consts.py
Labels: PAPP-9590, appname-smime
