Repository phantomcyber/phantom-apps, pull requests merged in 2020-04, with the labels that each got.

#232 TaniumRest: Bug fixes
  Apps/phtaniumrest/readme.html
  Apps/phtaniumrest/taniumrest.json
  Apps/phtaniumrest/taniumrest_connector.py
  Apps/phtaniumrest/taniumrest_run_query.html
Labels: appname-taniumrest

#237 Fortigate - All bugs fixes as a certified app and VDOM and pagination implementation for the app
  Apps/phfortigate/__init__.py
  Apps/phfortigate/fortigate.json
  Apps/phfortigate/fortigate_connector.py
  Apps/phfortigate/fortigate_consts.py
  Apps/phfortigate/fortigate_list_policies.html
  Apps/phfortigate/fortigate_view.py
  Apps/phfortigate/readme.html
Labels: appname-fortigate

#198 Added files for Phantom Arbor Sightline App
  Apps/pharborsightline/__init__.py
  Apps/pharborsightline/arborsightline.json
  Apps/pharborsightline/arborsightline_connector.py
  Apps/pharborsightline/arborsightline_consts.py
  Apps/pharborsightline/logo_arborsightline.svg
  Apps/pharborsightline/logo_arborsightline_dark.svg
  Apps/pharborsightline/readme.html
Labels: PAPP-9595, appname-arborsightline
