Repository phantomcyber/phantom-apps, pull requests merged in 2020-12, with the labels that each got.

#360 AirlockDigital(PAPP-11322): Community app submission with bugs fixes
  Apps/phairlockdigital/__init__.py
  Apps/phairlockdigital/airlockdigital.json
  Apps/phairlockdigital/airlockdigital_connector.py
  Apps/phairlockdigital/airlockdigital_consts.py
  Apps/phairlockdigital/logo_airlockdigital.svg
  Apps/phairlockdigital/logo_airlockdigital_dark.svg
Labels: PAPP-11322, appname-airlockdigital, non-certified

#403 S/MIME: Updating logo files as per new practice
  Apps/phsmime/logo_smime.svg
  Apps/phsmime/logo_smime_dark.svg
  Apps/phsmime/logo_splunk.svg
  Apps/phsmime/logo_splunk_dark.svg
  Apps/phsmime/smime.json
Labels: appname-smime

#377 Terraform(PAPP-9708): Community app submission with bug fixes
  Apps/phterraformcloud/__init__.py
  Apps/phterraformcloud/logo_terraform.svg
  Apps/phterraformcloud/logo_terraform_dark.svg
  Apps/phterraformcloud/readme.html
  Apps/phterraformcloud/terraformcloud.json
  Apps/phterraformcloud/terraformcloud_connector.py
  Apps/phterraformcloud/terraformcloud_consts.py
Labels: PAPP-9708, appname-terraform-cloud, non-certified, team-slytherin

#399 Phishtank: PAPP-12101: Python 2to3 conversion
  Apps/phphishtank/phishtank.json
  Apps/phphishtank/phishtank_connector.py
Labels: team-phantom-saas-a

#379 Flashpoint(PAPP-9880): Community app submission with bugs fixes
  Apps/phflashpoint/__init__.py
  Apps/phflashpoint/flashpoint.json
  Apps/phflashpoint/flashpoint_connector.py
  Apps/phflashpoint/flashpoint_consts.py
  Apps/phflashpoint/flashpoint_iocs_view.html
  Apps/phflashpoint/flashpoint_reports_view.html
  Apps/phflashpoint/flashpoint_view.py
  Apps/phflashpoint/logo_flashpoint.svg
  Apps/phflashpoint/logo_flashpoint_dark.svg
  Apps/phflashpoint/readme.html
Labels: PAPP-9880, appname-flashpoint, non-certified, team-slytherin

#405 Cuckoo(PAPP-11278): App update and all bugs fixes
  Apps/phcuckoo/cuckoo.json
  Apps/phcuckoo/cuckoo_connector.py
  Apps/phcuckoo/cuckoo_consts.py
  Apps/phcuckoo/cuckoo_defines.py
  Apps/phcuckoo/cuckoo_view.py
  Apps/phcuckoo/view_results.html
Labels: PAPP-11278, appname-cuckoo, non-certified, team-slytherin

#384 SlashNext(PAPP-11280): Community app update with bug fixes
  Apps/phslashnextphishingincidentresponse/__init__.py
  Apps/phslashnextphishingincidentresponse/display_api_quota.html
  Apps/phslashnextphishingincidentresponse/display_host_report.html
  Apps/phslashnextphishingincidentresponse/display_host_reputation.html
  Apps/phslashnextphishingincidentresponse/display_host_urls.html
  Apps/phslashnextphishingincidentresponse/display_html.html
  Apps/phslashnextphishingincidentresponse/display_sc.html
  Apps/phslashnextphishingincidentresponse/display_scan_report.html
  Apps/phslashnextphishingincidentresponse/display_text.html
  Apps/phslashnextphishingincidentresponse/display_url_scan.html
  Apps/phslashnextphishingincidentresponse/display_url_scan_sync.html
  Apps/phslashnextphishingincidentresponse/readme.html
  Apps/phslashnextphishingincidentresponse/slashnextphishingincidentresponse.json
  Apps/phslashnextphishingincidentresponse/slashnextphishingincidentresponse_connector.py
  Apps/phslashnextphishingincidentresponse/slashnextphishingincidentresponse_consts.py
  Apps/phslashnextphishingincidentresponse/slashnextphishingincidentresponse_view.py
Labels: PAPP-11280, appname-slashnext, non-certified, team-slytherin

#358 Browserlessio(PAPP-11315) Community app submission with bug fixes
  Apps/phbrowserlessio/__init__.py
  Apps/phbrowserlessio/browserlessio.json
  Apps/phbrowserlessio/browserlessio_connector.py
  Apps/phbrowserlessio/browserlessio_consts.py
  Apps/phbrowserlessio/browserlessio_view.py
  Apps/phbrowserlessio/display_screenshot.html
  Apps/phbrowserlessio/logo_browserlessio.svg
  Apps/phbrowserlessio/logo_browserlessio_dark.svg
Labels: PAPP-11315, appname-browserlessio, non-certified, team-slytherin

#349 Docker(PAPP-11224): Community app submission with bug fixes
  Apps/phdocker/__init__.py
  Apps/phdocker/docker_v3.json
  Apps/phdocker/docker_v3_connector.py
  Apps/phdocker/docker_v3_consts.py
  Apps/phdocker/logo_docker_v3.svg
  Apps/phdocker/logo_docker_v3_dark.svg
  Apps/phdocker/readme.html
Labels: PAPP-11224, appname-docker, non-certified, team-slytherin

#407 Okta: PAPP-12229: Python 2to3 conversion
  Apps/phokta/okta.json
  Apps/phokta/okta_connector.py
  Apps/phokta/okta_consts.py
Labels: team-phantom-saas-a

#402 WHOIS: PAPP-12016: Python 2 and 3 compatibility changes and developer checks
  Apps/phwhois/whois.json
  Apps/phwhois/whois_connector.py
Labels: team-phantom-saas-b

#319 RiskSense Phantom Integration - Initial App Submission
  Apps/phrisksense/__init__.py
  Apps/phrisksense/logo_risksense.svg
  Apps/phrisksense/logo_risksense_dark.svg
  Apps/phrisksense/readme.html
  Apps/phrisksense/risksense.json
  Apps/phrisksense/risksense_connector.py
  Apps/phrisksense/risksense_consts.py
  Apps/phrisksense/risksense_list_apps.html
  Apps/phrisksense/risksense_list_filter_attributes.html
  Apps/phrisksense/risksense_list_host_findings.html
  Apps/phrisksense/risksense_list_hosts.html
  Apps/phrisksense/risksense_list_tags.html
  Apps/phrisksense/risksense_list_users.html
  Apps/phrisksense/risksense_list_vulnerabilities.html
  Apps/phrisksense/risksense_view.py
Labels: PAPP-11697, appname-risksense, non-certified, team-slytherin

#361 Hashicorp Vault(PAPP-10071): Community app submission with bug fixes
  Apps/phhashicorpvault/__init__.py
  Apps/phhashicorpvault/hashicorp_vault.json
  Apps/phhashicorpvault/hashicorp_vault_connector.py
  Apps/phhashicorpvault/hashicorp_vault_consts.py
  Apps/phhashicorpvault/logo_hashicorp_vault.svg
  Apps/phhashicorpvault/logo_hashicorp_vault_dark.svg
  Apps/phhashicorpvault/readme.html
  Apps/phhashicorpvault/wheels/hvac-0.10.1-py2.py3-none-any.whl
  Apps/phhashicorpvault/wheels/six-1.14.0-py2.py3-none-any.whl
Labels: PAPP-10071, appname-hashicorpvault, non-certified, team-slytherin

#279 Consolidated Screening List (PAPP-12826): Community app submission with bug fixes
  Apps/phconsolidatedscreeninglist/__init__.py
  Apps/phconsolidatedscreeninglist/consolidatedscreeninglist.json
  Apps/phconsolidatedscreeninglist/consolidatedscreeninglist_connector.py
  Apps/phconsolidatedscreeninglist/consolidatedscreeninglist_consts.py
  Apps/phconsolidatedscreeninglist/logo_consolidatedscreeninglist.svg
  Apps/phconsolidatedscreeninglist/logo_consolidatedscreeninglist_dark.svg
Labels: PAPP-10370, PAPP-12826, non-certified, team-slytherin

#421 Added dev best practices for Have I been pwned
  Apps/phhaveibeenpwned/haveibeenpwned.json
  Apps/phhaveibeenpwned/haveibeenpwned_connector.py
Labels: appname-haveibeenpwned, certified, team-phantom-saas-b

#406 Airwatch(PAPP-10078): Community app submission with bugs fixes
  Apps/phairwatch/airwatch.json
  Apps/phairwatch/airwatch_connector.py
  Apps/phairwatch/airwatch_consts.py
  Apps/phairwatch/logo_splunk.svg
  Apps/phairwatch/logo_splunk_dark.svg
Labels: PAPP-10078, appname-airwatch, non-certified, team-slytherin

#424 Airwatch(PAPP-10078): Updating main_module to .py in json
  Apps/phairwatch/airwatch.json
Labels: PAPP-10078, appname-airwatch, non-certified, team-slytherin

#275 Add McAfee Web Gateway app. RE:Issue #270
  Apps/phmcafeewebgateway/__init__.py
  Apps/phmcafeewebgateway/logo_mcafeewebgateway.svg
  Apps/phmcafeewebgateway/logo_mcafeewebgateway_dark.svg
  Apps/phmcafeewebgateway/mcafeewebgateway.json
  Apps/phmcafeewebgateway/mcafeewebgateway_connector.py
  Apps/phmcafeewebgateway/mcafeewebgateway_consts.py
  Apps/phmcafeewebgateway/readme.html
Labels: PAPP-12155, appname-mcafee-webgw, external-contributor, non-certified, team-slytherin

#420 Okta: PAPP-12934: Handling the send push notification exceptions
  Apps/phokta/okta.json
  Apps/phokta/okta_connector.py
Labels: certified, team-phantom-saas-a

#425 Updating the message for the SMS factortype
  Apps/phokta/okta_connector.py
Labels: certified, team-phantom-saas-a

#348 Committing new version of Axonius integration.
  Apps/phaxoniuscybersecurityassetmanagement/__init__.py
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement.json
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement.png
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_connector.py
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_consts.py
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_dark.png
Labels: PAPP-11619, external-contributor, non-certified, team-slytherin

#411 Update in proofpoint.json
  Apps/phproofpoint/proofpoint.json
Labels: PAPP-12413, appname-proofpoint, external-contributor, non-certified, team-slytherin

#423 AWS IAM: Bug fixes and Python conversion for PAPP-12232
  Apps/phawsiam/awsiam.json
  Apps/phawsiam/awsiam_connector.py
  Apps/phawsiam/awsiam_consts.py
  Apps/phawsiam/logo_aws.svg
  Apps/phawsiam/logo_aws_dark.svg
Labels: PAPP-12232, appname-awsiam, certified, splunk-update, team-gryffindor

#428 Have I been Pwned: PAPP-13061 Changes related to default value
  Apps/phhaveibeenpwned/haveibeenpwned.json
  Apps/phhaveibeenpwned/haveibeenpwned_connector.py
Labels: appname-haveibeenpwned, certified, team-phantom-saas-b

#416 WinRM: Bug fixes and Enhancement for PAPP-11891
  Apps/phwinrm/parse_callbacks.py
  Apps/phwinrm/readme.html
  Apps/phwinrm/winrm.json
  Apps/phwinrm/winrm_connector.py
  Apps/phwinrm/winrm_consts.py
Labels: PAPP-11891, appname-winrm, certified, splunk-update, team-gryffindor

#429 AWS IAM: Changing App ID
  Apps/phawsiam/awsiam.json
Labels: appname-awsiam, certified

#432 AWS IAM: Upgrading the app version
  Apps/phawsiam/awsiam.json
Labels: appname-awsiam, certified
