Repository phantomcyber/phantom-apps, pull requests merged in 2020-03, with the labels that each got.

#194 Gitlab: Initial code submission and all bugs fixations
  Apps/phgitlab/gitlab.json
  Apps/phgitlab/gitlab.png
  Apps/phgitlab/gitlab_connector.py
  Apps/phgitlab/gitlab_consts.py
  Apps/phgitlab/gitlab_dark.png
  Apps/phgitlab/logo_gitlab.svg
  Apps/phgitlab/logo_gitlab_dark.svg
Labels: appname-gitlab

#220 Skybox: Initial code submission and all bugs fixations
  Apps/phskybox/__init__.py
  Apps/phskybox/logo_skybox.svg
  Apps/phskybox/logo_skybox_dark.svg
  Apps/phskybox/skybox.json
  Apps/phskybox/skybox_connector.py
  Apps/phskybox/skybox_consts.py
  Apps/phskybox/wheels/suds-0.4-cp27-none-any.whl
Labels: appname-skybox

#223 Radar Phantom App
  Apps/phradar/__init__.py
  Apps/phradar/radar.json
  Apps/phradar/radar.png
  Apps/phradar/radar_add_note.html
  Apps/phradar/radar_connector.py
  Apps/phradar/radar_consts.py
  Apps/phradar/radar_create_privacy_incident.html
  Apps/phradar/radar_dark.png
  Apps/phradar/radar_dark.svg
  Apps/phradar/radar_get_notes.html
  Apps/phradar/radar_get_privacy_incident.html
  Apps/phradar/radar_view.py
  Apps/phradar/readme.html
Labels: appname-radar
