Repository phantomcyber/phantom-apps, pull requests merged in 2020-10, with the labels that each got.

#271 Mimecast: Initial bugs fixes
  Apps/phmimecast/__init__.py
  Apps/phmimecast/display_get_email.html
  Apps/phmimecast/mimecast.json
  Apps/phmimecast/mimecast_connector.py
  Apps/phmimecast/mimecast_consts.py
  Apps/phmimecast/mimecast_view.py
  Apps/phmimecast/readme.html
Labels: appname-mimecast, papp-9722

#359 PAPP-11549/PAPP-11528 Implemented test connectivity action and Unicode character handling
  Apps/phhaveibeenpwned/__init__.py
  Apps/phhaveibeenpwned/haveibeenpwned.json
  Apps/phhaveibeenpwned/haveibeenpwned_connector.py
  Apps/phhaveibeenpwned/haveibeenpwned_consts.py
Labels: PAPP-11528, PAPP-11549, appname-haveibeenpwned

#355 Have I Been Pwned (PAPP-11518) Updated MC connector Script
  Apps/phhaveibeenpwned/haveibeenpwned.json
  Apps/phhaveibeenpwned/haveibeenpwned_connector.py
Labels: PAPP-11518, appname-haveibeenpwned
