Repository phantomcyber/phantom-apps, pull requests merged in 2020-05, with the labels that each got.

#244 Netskope: App update submission and all other bugs fixes
  Apps/phnetskope/__init__.py
  Apps/phnetskope/netskope.json
  Apps/phnetskope/netskope_connector.py
  Apps/phnetskope/netskope_consts.py
  Apps/phnetskope/netskope_run_query.html
  Apps/phnetskope/netskope_utilities.py
  Apps/phnetskope/netskope_view.py
  Apps/phnetskope/readme.html
Labels: appname-netskope

#241 Expanse Phantom App - Initial App Submission for Expanse App
  Apps/phexpanse/__init__.py
  Apps/phexpanse/exclude_files.txt
  Apps/phexpanse/expanse.json
  Apps/phexpanse/expanse.png
  Apps/phexpanse/expanse_connector.py
  Apps/phexpanse/expanse_consts.py
  Apps/phexpanse/expanse_dark.png
  Apps/phexpanse/readme.html
  Apps/phexpanse/release_notes.html
Labels: appname-expanse

#247 MF Service Manager: Initial app submission and all bugs fixes
  Apps/phmfservicemanager/README.md
  Apps/phmfservicemanager/__init__.py
  Apps/phmfservicemanager/logo_microfocus.svg
  Apps/phmfservicemanager/logo_microfocus_dark.svg
  Apps/phmfservicemanager/mfservicemanager.json
  Apps/phmfservicemanager/mfservicemanager_connector.py
  Apps/phmfservicemanager/mfservicemanager_consts.py
Labels: PAPP-9717, appname-micro-focus-service-manager

#238 JIRA: Adding changes of PR(https://github.com/phantomcyber/phantom-apps/pull/123), Python 2to3 conversion changes and other bugs fixes
  Apps/phjira/jira.json
  Apps/phjira/jira_connector.py
  Apps/phjira/jira_consts.py
  Apps/phjira/jira_get_ticket.html
  Apps/phjira/jira_list_tickets.html
  Apps/phjira/jira_search_users.html
  Apps/phjira/jira_set_status_items.html
  Apps/phjira/jira_update_ticket.html
  Apps/phjira/jira_view.py
  Apps/phjira/readme.html
Labels: appname-jira

#254 PAPP-9706 Radar: changing the app type
  Apps/phradar/radar.json
Labels: appname-radar
