Repository phantomcyber/phantom-apps, pull requests merged in 2021-10, with the labels that each got.

#732 AWS WAF V2: Feature - PAPP-18670 Add 'delete ip set' Action
  Apps/phawswafv2/awswafv2.json
  Apps/phawswafv2/awswafv2_connector.py
  Apps/phawswafv2/awswafv2_consts.py
Labels: certified, team-ravenclaw, appname-awswafv2

#660 CarbonBlack Response: Made quarantine device, unquarantine device, and sync event compatible with CBR 7.x
  Apps/phcarbonblackresponse/carbonblack.json
  Apps/phcarbonblackresponse/carbonblack_connector.py
  Apps/phcarbonblackresponse/carbonblack_consts.py
  Apps/phcarbonblackresponse/query_results.html
Labels: certified, team-gryffindor, appname-carbonblackresponse, PAPP-16081

#727 GSGmail: Feature, On-poll action support
  Apps/phgsgmail/gsgmail.json
  Apps/phgsgmail/gsgmail_connector.py
  Apps/phgsgmail/gsgmail_consts.py
  Apps/phgsgmail/gsgmail_process_email.py
  Apps/phgsgmail/readme.html
Labels: certified, appname-gsgmail

#726 Screenshot machine: Feature - Added cache limit config parameter
  Apps/phscreenshotmachine/readme.html
  Apps/phscreenshotmachine/ssmachine.json
  Apps/phscreenshotmachine/ssmachine_connector.py
  Apps/phscreenshotmachine/ssmachine_consts.py
Labels: certified, appname-screenshotmachine

#728 Postman collection for PhishTank app
  Apps/phphishtank/PhishTank.postman_collection.json
  Apps/phphishtank/__init__.py
  Apps/phphishtank/phishtank.json
  Apps/phphishtank/phishtank_connector.py
  Apps/phphishtank/phishtank_consts.py
Labels: certified, appname-phishtank

#773 phaxoniuscybersecurityassetmanagement: adding requirements.txt and building wheels
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement.json
  Apps/phaxoniuscybersecurityassetmanagement/requirements.txt
  Apps/phaxoniuscybersecurityassetmanagement/wheels/PySocks-1.7.1-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/XlsxWriter-3.0.1-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/axonius_api_client-4.10.7-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/cachetools-4.2.4-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/certifi-2021.10.8-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/cffi-1.15.0-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/chardet-4.0.0-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/click-8.0.3-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/cryptography-35.0.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/dataclasses-0.8-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/dataclasses_json-0.5.6-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/fuzzyfinder-2.1.0-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/idna-2.10-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/importlib_metadata-4.8.1-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/marshmallow-3.14.0-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/marshmallow_enum-1.5.1-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/marshmallow_jsonapi-0.24.0-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/mypy_extensions-0.4.3-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/pyOpenSSL-21.0.0-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/pycparser-2.20-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/python_dateutil-2.8.2-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/python_dotenv-0.19.1-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/requests-2.25.1-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/six-1.16.0-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/tabulate-0.8.9-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/typing_extensions-3.10.0.2-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/typing_inspect-0.7.1-py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/urllib3-1.26.7-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/xmltodict-0.12.0-py2.py3-none-any.whl
  Apps/phaxoniuscybersecurityassetmanagement/wheels/zipp-3.6.0-py3-none-any.whl
Labels: non-certified, appname-axoniuscybersecurityassetmanagement

#775 phbitglass: adding requirements.txt and building wheels
  Apps/phbitglass/bitglass.json
  Apps/phbitglass/requirements.txt
  Apps/phbitglass/wheels/Flask-2.0.2-py3-none-any.whl
  Apps/phbitglass/wheels/Jinja2-3.0.2-py3-none-any.whl
  Apps/phbitglass/wheels/MarkupSafe-2.0.1-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  Apps/phbitglass/wheels/Werkzeug-2.0.2-py3-none-any.whl
  Apps/phbitglass/wheels/beautifulsoup4-4.10.0-py3-none-any.whl
  Apps/phbitglass/wheels/certifi-2021.10.8-py2.py3-none-any.whl
  Apps/phbitglass/wheels/chardet-4.0.0-py2.py3-none-any.whl
  Apps/phbitglass/wheels/click-8.0.3-py3-none-any.whl
  Apps/phbitglass/wheels/dataclasses-0.8-py3-none-any.whl
  Apps/phbitglass/wheels/idna-2.10-py2.py3-none-any.whl
  Apps/phbitglass/wheels/importlib_metadata-4.8.1-py3-none-any.whl
  Apps/phbitglass/wheels/itsdangerous-2.0.1-py3-none-any.whl
  Apps/phbitglass/wheels/requests-2.25.1-py2.py3-none-any.whl
  Apps/phbitglass/wheels/six-1.15.0-py2.py3-none-any.whl
  Apps/phbitglass/wheels/soupsieve-2.2.1-py3-none-any.whl
  Apps/phbitglass/wheels/typing_extensions-3.10.0.2-py3-none-any.whl
  Apps/phbitglass/wheels/urllib3-1.26.7-py2.py3-none-any.whl
  Apps/phbitglass/wheels/zipp-3.6.0-py3-none-any.whl
Labels: non-certified, appname-bitglass

#780 phwarc: adding requirements.txt and building wheels
  Apps/phwarc/requirements.txt
  Apps/phwarc/warc.json
  Apps/phwarc/wheels/certifi-2021.10.8-py2.py3-none-any.whl
  Apps/phwarc/wheels/chardet-4.0.0-py2.py3-none-any.whl
  Apps/phwarc/wheels/idna-2.10-py2.py3-none-any.whl
  Apps/phwarc/wheels/requests-2.25.1-py2.py3-none-any.whl
  Apps/phwarc/wheels/six-1.16.0-py2.py3-none-any.whl
  Apps/phwarc/wheels/urllib3-1.26.7-py2.py3-none-any.whl
  Apps/phwarc/wheels/warcio-1.7.4-py2.py3-none-any.whl
Labels: non-certified, appname-warc
