Repository phantomcyber/phantom-apps, pull requests merged in 2021-05, with the labels that each got.

#580 PAPP-16067 Splunk On-Call: Renaming the VictorOps app
  Apps/phsplunkoncall/__init__.py
  Apps/phsplunkoncall/display_list_routing.html
  Apps/phsplunkoncall/logo_splunkoncall.svg
  Apps/phsplunkoncall/logo_splunkoncall_dark.svg
  Apps/phsplunkoncall/readme.html
  Apps/phsplunkoncall/splunkoncall.json
  Apps/phsplunkoncall/splunkoncall_connector.py
  Apps/phsplunkoncall/splunkoncall_consts.py
  Apps/phsplunkoncall/splunkoncall_view.py
Labels: appname-splunkoncall, appname-victorops, certified, team-ravenclaw

#587 PAPP-16689 PAPP-16682
  Apps/phwindowsdefenderatp/windowsdefenderatp_connector.py
Labels: appname-windowsdefenderatp, bug, certified, team-ravenclaw

#549 Hackerone app updates
  Apps/phhackerone/hackerone.json
  Apps/phhackerone/hackerone_connector.py
  Apps/phhackerone/hackerone_consts.py
  Apps/phhackerone/hackerone_report_template.json
Labels: PAPP-16016, appname-hackerone, external-contributor, non-certified, team-slytherin

#588 Jira: Upgrading minor version for release
  Apps/phjira/jira.json
Labels: appname-jira, certified

#342 Forescout - Add IP and MAC addresses as input for "get device info"
  Apps/phforescoutcounteract/__init__.py
  Apps/phforescoutcounteract/forescoutcounteract.json
  Apps/phforescoutcounteract/forescoutcounteract_connector.py
  Apps/phforescoutcounteract/forescoutcounteract_consts.py
  Apps/phforescoutcounteract/forescoutcounteract_view.py
  Apps/phforescoutcounteract/list_host_properties.html
  Apps/phforescoutcounteract/list_policies.html
  Apps/phforescoutcounteract/logo_forescoutcounteract.svg
  Apps/phforescoutcounteract/logo_forescoutcounteract_dark.svg
  Apps/phforescoutcounteract/readme.html
Labels: PAPP-12813, appname-forescoutcounteract, certified, external-contributor, team-slytherin

#568 Red Canary: Adding 2 new actions (#563)
  Apps/phredcanary/redcanary.json
  Apps/phredcanary/redcanary_connector.py
  Apps/phredcanary/redcanary_consts.py
Labels: PAPP-16302, appname-redcanary, non-certified, team-slytherin

#589 Forescout: PAPP-15916 Added "mac address" in the contains
  Apps/phforescoutcounteract/forescoutcounteract.json
  Apps/phforescoutcounteract/list_host_properties.html
  Apps/phforescoutcounteract/list_policies.html
Labels: appname-forescoutcounteract, certified

#591 Red Canary: Reverting the change in return stmt for failure case in 'on poll' action
  Apps/phredcanary/redcanary_connector.py
Labels: appname-redcanary, non-certified

#592 Cuckoo: Updating app version and removing last tested version
  Apps/phcuckoo/cuckoo.json
Labels: appname-cuckoo, certified

#567 Add Phantom VMRay App
  Apps/phvmray/CHANGELOG.txt
  Apps/phvmray/__init__.py
  Apps/phvmray/exclude_files.txt
  Apps/phvmray/logo_vmray.svg
  Apps/phvmray/logo_vmray_dark.svg
  Apps/phvmray/rest_api.py
  Apps/phvmray/rest_cmds.py
  Apps/phvmray/vmray.json
  Apps/phvmray/vmray.png
  Apps/phvmray/vmray_connector.py
  Apps/phvmray/vmray_consts.py
Labels: PAPP-16355, appname-vmray, external-contributor, non-certified, team-slytherin

#575 New App: Trend Micro Apex One
  Apps/phtrendmicroapexone/__init__.py
  Apps/phtrendmicroapexone/logo_trendmicroapexone.svg
  Apps/phtrendmicroapexone/logo_trendmicroapexone_dark.svg
  Apps/phtrendmicroapexone/readme.html
  Apps/phtrendmicroapexone/trendmicroapexone.json
  Apps/phtrendmicroapexone/trendmicroapexone_connector.py
  Apps/phtrendmicroapexone/trendmicroapexone_consts.py
  Apps/phtrendmicroapexone/wheels/PyJWT-2.0.1-py3-none-any.whl
Labels: PAPP-16461, appname-trendmicroapexone, external-contributor, non-certified, team-slytherin

#578 New App: Check Point Reputation Service
  Apps/phcheckpointreputation/__init__.py
  Apps/phcheckpointreputation/checkpointreputation.json
  Apps/phcheckpointreputation/checkpointreputation_connector.py
  Apps/phcheckpointreputation/checkpointreputation_consts.py
  Apps/phcheckpointreputation/logo_checkpoint.svg
  Apps/phcheckpointreputation/logo_checkpoint_dark.svg
Labels: PAPP-16614, appname-checkpointreputation, external-contributor, non-certified, team-slytherin

#581 Bugfix Kaspersky TI connector
  Apps/phkasperskyti/__init__.py
  Apps/phkasperskyti/exclude_files.txt
  Apps/phkasperskyti/kasperskythreatintelligence.json
  Apps/phkasperskyti/kasperskythreatintelligence_connector.py
  Apps/phkasperskyti/kasperskythreatintelligence_consts.py
  Apps/phkasperskyti/logo_kasperskythreatintelligence.svg
  Apps/phkasperskyti/logo_kasperskythreatintelligence_dark.svg
  Apps/phkasperskyti/readme.html
Labels: PAPP-16648, appname-kasperskyti, external-contributor, non-certified, team-slytherin

#596 Kaspersky TI[PAPP-16648]: Added exception handling and minor changes
  Apps/phkasperskyti/kasperskythreatintelligence.json
  Apps/phkasperskyti/kasperskythreatintelligence_connector.py
  Apps/phkasperskyti/kasperskythreatintelligence_consts.py
  Apps/phkasperskyti/readme.html
Labels: PAPP-16648, appname-kasperskyti, non-certified, team-slytherin

#590 New App : Cyware CTIX
  Apps/phcywarectix/__init__.py
  Apps/phcywarectix/ctix.json
  Apps/phcywarectix/ctix_connector.py
  Apps/phcywarectix/ctix_consts.py
  Apps/phcywarectix/logo_ctix.svg
  Apps/phcywarectix/logo_ctix_dark.svg
Labels: PAPP-16937, appname-cywarectix, external-contributor, non-certified, team-slytherin
