Repository phantomcyber/phantom-apps, pull requests merged in 2021-11, with the labels that each got.

#783 Passivetotal: Postman | PAPP-20940 | added postman collection for passive total app
  Apps/phpassivetotal/passive total.postman_collection.json
Labels: certified, appname-passivetotal

#614 phremedy: Python3 Compatibility
  Apps/phbmcremedy/bmcremedy.json
  Apps/phbmcremedy/bmcremedy.png
  Apps/phbmcremedy/bmcremedy_connector.py
  Apps/phbmcremedy/bmcremedy_consts.py
  Apps/phbmcremedy/bmcremedy_create_ticket.html
  Apps/phbmcremedy/bmcremedy_display_ticket_details.html
  Apps/phbmcremedy/bmcremedy_display_tickets.html
  Apps/phbmcremedy/bmcremedy_view.py
  Apps/phbmcremedy/logo_bmcremedy.svg
  Apps/phbmcremedy/logo_bmcremedy_dark.svg
  Apps/phbmcremedy/readme.html
  Apps/phbmcremedy/readme.md
Labels: certified, team-slytherin, external-contributor, appname-bmcremedy, PAPP-17709

#786 Check Point Firewall: PAPP-9260 Add 'add host' action
  Apps/phcheckpointfirewall/checkpoint.json
  Apps/phcheckpointfirewall/checkpoint_connector.py
Labels: certified, appname-checkpointfirewall

#787 PAPP-21056 Add 'list hosts' action
  Apps/phcheckpointfirewall/checkpoint.json
  Apps/phcheckpointfirewall/checkpoint_connector.py
Labels: certified, appname-checkpointfirewall

#788 PAPP-21057 Add 'delete host' action
  Apps/phcheckpointfirewall/checkpoint.json
  Apps/phcheckpointfirewall/checkpoint_connector.py
Labels: certified, appname-checkpointfirewall

#789 PAPP-9261 add new action 'logout session'
  Apps/phcheckpointfirewall/checkpoint.json
  Apps/phcheckpointfirewall/checkpoint_connector.py
Labels: certified, appname-checkpointfirewall

#794 Adding empty requirements.txt
  Apps/phbmcremedy/requirements.txt
Labels: certified, appname-bmcremedy
