Repository phantomcyber/phantom-apps, pull requests merged in 2021-04, with the labels that each got.

#518 IPQualityScore app for Phantom pull request
  Apps/phipqualityscore/__init__.py
  Apps/phipqualityscore/ipqualityscore.json
  Apps/phipqualityscore/ipqualityscore_connector.py
  Apps/phipqualityscore/ipqualityscore_consts.py
  Apps/phipqualityscore/logo_ipqualityscore.svg
  Apps/phipqualityscore/logo_ipqualityscore_dark.svg
Labels: PAPP-15258, appname-ipqualityscore, external-contributor, non-certified, team-slytherin

#550 PAPP-15558: Cofense Intelligence Python3
  Apps/phcofenseintelligence/__init__.py
  Apps/phcofenseintelligence/cofenseintelligence.json
  Apps/phcofenseintelligence/cofenseintelligence_connector.py
  Apps/phcofenseintelligence/cofenseintelligence_consts.py
  Apps/phcofenseintelligence/cofenseintelligence_display_report.html
  Apps/phcofenseintelligence/cofenseintelligence_display_threat.html
  Apps/phcofenseintelligence/cofenseintelligence_view.py
  Apps/phcofenseintelligence/exclude_files.txt
  Apps/phcofenseintelligence/logo_cofenseintelligence.svg
  Apps/phcofenseintelligence/logo_cofenseintelligence_dark.svg
Labels: appname-cofenseintelligence, certified, team-phantom-saas-b

#555 Cofense Intelligence: Added example values
  Apps/phcofenseintelligence/cofenseintelligence.json
Labels: appname-cofenseintelligence, certified, team-phantom-saas-b

#556 RSS: Fixed vault add error
  Apps/phrss/rss_connector.py
Labels: appname-rss, certified, team-phantom-saas-b

#503 Phsignalfx
  Apps/phsignalfx/__init__.py
  Apps/phsignalfx/logo_splunk.svg
  Apps/phsignalfx/logo_splunk_dark.svg
  Apps/phsignalfx/readme.html
  Apps/phsignalfx/signalfx.json
  Apps/phsignalfx/signalfx_connector.py
  Apps/phsignalfx/signalfx_consts.py
  Apps/phsignalfx/signalfx_display_incident.html
  Apps/phsignalfx/signalfx_view.py
Labels: PAPP-14940, appname-signalfx, certified, external-contributor, team-slytherin

#557 Added latest_tested_version in json
  Apps/phsignalfx/readme.html
  Apps/phsignalfx/signalfx.json
  Apps/phsignalfx/signalfx_consts.py
Labels: appname-signalfx, certified

#528 New App: Redmine
  Apps/phredmine/__init__.py
  Apps/phredmine/logo_redmine.svg
  Apps/phredmine/logo_redmine_dark.svg
  Apps/phredmine/readme.html
  Apps/phredmine/redmine.json
  Apps/phredmine/redmine_connector.py
  Apps/phredmine/redmine_consts.py
Labels: PAPP-15515, appname-redmine, external-contributor, non-certified, team-slytherin

#548 phradar v1.0.1 bug fix
  Apps/phradar/radar_get_notes.html
  Apps/phradar/radar_view.py
Labels: PAPP-16014, appname-radar, external-contributor, non-certified, team-slytherin

#559 Adldap exp fail fixes
  Apps/phadldap/adldap.json
  Apps/phadldap/adldap_connector.py
  Apps/phadldap/adldap_view.py
  Apps/phadldap/readme.md
Labels: appname-adldap, non-certified

#541 New App: Google Cloud IAM
  Apps/phgcloudiam/__init__.py
  Apps/phgcloudiam/googlecloudiam.json
  Apps/phgcloudiam/googlecloudiam_connector.py
  Apps/phgcloudiam/googlecloudiam_consts.py
  Apps/phgcloudiam/logo_gcloudiam.svg
  Apps/phgcloudiam/logo_gcloudiam_dark.svg
  Apps/phgcloudiam/readme.html
Labels: PAPP-15583, appname-gcloudiam, external-contributor, non-certified, team-slytherin

#543 initial version of Malware Bazaar App
  Apps/phmalwarebazaar/__init__.py
  Apps/phmalwarebazaar/logo_malwarebazaar.svg
  Apps/phmalwarebazaar/logo_malwarebazaar_dark.svg
  Apps/phmalwarebazaar/malwarebazaar.json
  Apps/phmalwarebazaar/malwarebazaar_connector.py
  Apps/phmalwarebazaar/malwarebazaar_consts.py
Labels: PAPP-15997, appname-malwarebazaar, external-contributor, non-certified, team-slytherin

#562 phradar v1.0.1 - radar dev team changes
  Apps/phradar/radar_connector.py
  Apps/phradar/readme.html
Labels: PAPP-16292, appname-radar, external-contributor, non-certified

#532 New App: Cloudflare
  Apps/phcloudflare/__init__.py
  Apps/phcloudflare/cloudflare.json
  Apps/phcloudflare/cloudflare_connector.py
  Apps/phcloudflare/cloudflare_consts.py
  Apps/phcloudflare/logo_cloudflare.svg
  Apps/phcloudflare/logo_cloudflare_dark.svg
  Apps/phcloudflare/readme.html
Labels: PAPP-15527, appname-cloudflare, external-contributor, non-certified, team-slytherin

#564 Adldap docs update
  Apps/phadldap/adldap.json
  Apps/phadldap/readme.html
Labels: appname-adldap, certified, team-ravenclaw

#565 Google Cloud IAM :Adding generic exception handler
  Apps/phgcloudiam/googlecloudiam_connector.py
  Apps/phgcloudiam/googlecloudiam_consts.py
Labels: appname-gcloudiam, non-certified, team-slytherin

#335 Jang winrm 012720
  Apps/phwinrm/__init__.py
  Apps/phwinrm/parse_callbacks.py
  Apps/phwinrm/readme.html
  Apps/phwinrm/winrm.json
  Apps/phwinrm/winrm_connector.py
  Apps/phwinrm/winrm_consts.py
Labels: PAPP-13618, appname-winrm, certified, external-contributor, team-slytherin

#563 Adding 2 new actions
  Apps/phredcanary/redcanary.json
  Apps/phredcanary/redcanary_connector.py
Labels: PAPP-16302, appname-redcanary, external-contributor, non-certified, team-slytherin

#569 Google Cloud IAM: Updating contains for action parameters
  Apps/phgcloudiam/googlecloudiam.json
Labels: appname-gcloudiam, non-certified, team-slytherin

#574 PAPP-16457 Fixing main module
  Apps/phrequesttracker/requesttracker.json
Labels: appname-requesttracker, certified

#537 Bitglass app ver 1.0.9
  Apps/phbitglass/__init__.py
  Apps/phbitglass/app/__init__.py
  Apps/phbitglass/app/bg.py
  Apps/phbitglass/app/config.py
  Apps/phbitglass/app/configForward.py
  Apps/phbitglass/app/env.py
  Apps/phbitglass/app/logevent.py
  Apps/phbitglass/app/secret.py
  Apps/phbitglass/app/x_phantom.py
  Apps/phbitglass/bitglass.json
  Apps/phbitglass/bitglass_connector.py
  Apps/phbitglass/bitglass_consts.py
  Apps/phbitglass/config.json
  Apps/phbitglass/logo_bitglass.svg
  Apps/phbitglass/logo_bitglass_dark.svg
  Apps/phbitglass/readme.html
  Apps/phbitglass/requests_oauth2/__init__.py
  Apps/phbitglass/requests_oauth2/bearer.py
  Apps/phbitglass/requests_oauth2/errors.py
  Apps/phbitglass/requests_oauth2/oauth2.py
  Apps/phbitglass/requests_oauth2/services.py
Labels: PAPP-15535, appname-bitglass, external-contributor, non-certified, team-slytherin

#576 Winrm[PAPP-13618]: Updated version to 1.5.0 for ntml_auth
  Apps/phwinrm/wheels/ntlm_auth-1.2.0-py2.py3-none-any.whl
  Apps/phwinrm/wheels/ntlm_auth-1.5.0-py2.py3-none-any.whl
  Apps/phwinrm/winrm.json
Labels: PAPP-13618, appname-winrm, certified, team-slytherin

#558 Return separate data type to template for data list. (#548)
  Apps/phradar/__init__.py
  Apps/phradar/radar.json
  Apps/phradar/radar_add_note.html
  Apps/phradar/radar_connector.py
  Apps/phradar/radar_consts.py
  Apps/phradar/radar_create_privacy_incident.html
  Apps/phradar/radar_get_notes.html
  Apps/phradar/radar_get_privacy_incident.html
  Apps/phradar/radar_view.py
  Apps/phradar/readme.html
Labels: PAPP-16014, appname-radar, non-certified, team-slytherin

#571 PAPP-16447 fix risk score, indicators, and action identifiers in umbrella investigate
  Apps/phciscoumbrellainvestigate/ciscoumbrellainvestigate.json
  Apps/phciscoumbrellainvestigate/ciscoumbrellainvestigate_connector.py
  Apps/phciscoumbrellainvestigate/ciscoumbrellainvestigate_consts.py
Labels: PAPP-16449, appname-ciscoumbrellainvestigate, certified, external-contributor, team-slytherin

#572 PAPP-16359 PAPP-16454 - moving Deepsight app to Github
  Apps/phdeepsight/__init__.py
  Apps/phdeepsight/deepsight.json
  Apps/phdeepsight/deepsight_connector.py
  Apps/phdeepsight/deepsight_consts.py
  Apps/phdeepsight/deepsight_view.py
  Apps/phdeepsight/display_report.html
  Apps/phdeepsight/display_report_detail.html
  Apps/phdeepsight/display_reputation.html
  Apps/phdeepsight/logo_accenture.svg
  Apps/phdeepsight/logo_accenture_dark.svg
Labels: PAPP-16456, appname-deepsight, certified, team-ravenclaw

#551 New App: Any.Run
  Apps/phanyrun/__init__.py
  Apps/phanyrun/anyrun.json
  Apps/phanyrun/anyrun_connector.py
  Apps/phanyrun/anyrun_consts.py
  Apps/phanyrun/logo_anyrun.svg
  Apps/phanyrun/logo_anyrun_dark.svg
Labels: PAPP-16027, appname-anyrun, external-contributor, non-certified, team-slytherin

#554 Digitalguardian Watchlist issue fix
  Apps/phdigitalguardianarc/digitalguardianarc.json
  Apps/phdigitalguardianarc/digitalguardianarc_connector.py
Labels: PAPP-16073, appname-digitalguardianarc, external-contributor, non-certified, team-slytherin

#560 Jira: Optimize and improve return stmt in Jira App
  Apps/phjira/jira.json
  Apps/phjira/jira_view.py
Labels: PAPP-16237, appname-jira, certified, external-contributor, team-slytherin

#579 PAPP-16588 - infinite loop "run admin command" action
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi.json
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_connector.py
Labels: appname-crowdstrike-oauth, bug, certified, team-ravenclaw

#583 PAPP-16359 - modified package_name in app JSON
  Apps/phdeepsight/deepsight.json
Labels: appname-deepsight, certified, team-ravenclaw

#584 VMRay: Adding private repo code into next
  Apps/phvmray/CHANGELOG.txt
  Apps/phvmray/__init__.py
  Apps/phvmray/exclude_files.txt
  Apps/phvmray/rest_api.py
  Apps/phvmray/rest_cmds.py
  Apps/phvmray/vmray.json
  Apps/phvmray/vmray.png
  Apps/phvmray/vmray_connector.py
  Apps/phvmray/vmray_consts.py
Labels: appname-vmray, non-certified

#486 phdnsdb - App update for Python 3, DNSDB v2
  Apps/phdnsdb/__init__.py
  Apps/phdnsdb/dnsdb.json
  Apps/phdnsdb/dnsdb_connector.py
  Apps/phdnsdb/dnsdb_consts.py
  Apps/phdnsdb/dnsdb_lookup_info.html
  Apps/phdnsdb/dnsdb_rate_limits.html
  Apps/phdnsdb/dnsdb_view.py
  Apps/phdnsdb/farsight-logo.png
  Apps/phdnsdb/logo_dnsdb.svg
  Apps/phdnsdb/logo_dnsdb_dark.svg
  Apps/phdnsdb/readme.html
Labels: PAPP-14664, appname-dnsdb, certified, external-contributor, team-slytherin

#570 Slack: Removed paths from the callback_id for ask_question action as per PAPP-16371
  Apps/phslack/img/slack_asset_info.png
  Apps/phslack/logo_slack.svg
  Apps/phslack/logo_slack_dark.svg
  Apps/phslack/slack.json
  Apps/phslack/slack_connector.py
  Apps/phslack/slack_consts.py
Labels: appname-slack, certified, team-gryffindor

#585 Kaspersky TI: Adding private repo code into the next
  Apps/phkasperskyti/__init__.py
  Apps/phkasperskyti/exclude_files.txt
  Apps/phkasperskyti/kasperskythreatintelligence.json
  Apps/phkasperskyti/kasperskythreatintelligence_connector.py
  Apps/phkasperskyti/logo_kasperskythreatintelligence.svg
  Apps/phkasperskyti/logo_kasperskythreatintelligence_dark.svg
  Apps/phkasperskyti/readme.html
Labels: appname-kasperskyti, non-certified
