Repository phantomcyber/phantom-apps, pull requests merged in 2021-02, with the labels that each got.

#455 Allow uploading file contents in lieu of posting file from Vault
  Apps/phslack/slack.json
  Apps/phslack/slack_connector.py
Labels: PAPP-13630, appname-slack, certified, external-contributor, team-slytherin

#453 Add 'add reaction' action for reacting to Slack messages
  Apps/phslack/slack.json
  Apps/phslack/slack_connector.py
  Apps/phslack/slack_consts.py
Labels: PAPP-13629, appname-slack, certified, external-contributor, team-slytherin

#451 Add thread support to 'send message' action
  Apps/phslack/slack.json
  Apps/phslack/slack_connector.py
Labels: PAPP-13628, appname-slack, certified, external-contributor, team-slytherin

#470 AWS Athena[PAPP-14412] Updates aws logos for AWS Athena
  Apps/phawsathena/logo_aws.svg
  Apps/phawsathena/logo_aws_dark.svg
Labels: appname-awsathena, certified, team-phantom-saas-a

#459 Screenshotmachine: PAPP-13382: Python3 conversion
  Apps/phscreenshotmachine/__init__.py
  Apps/phscreenshotmachine/display_scrshot.html
  Apps/phscreenshotmachine/ssmachine.json
  Apps/phscreenshotmachine/ssmachine_connector.py
  Apps/phscreenshotmachine/ssmachine_consts.py
  Apps/phscreenshotmachine/ssmachine_view.py
Labels: appname-screenshotmachine, certified, team-phantom-saas-b

#467 PAPP-13091 - ReversingLabs - Py3 conversion
  Apps/phreversinglabs/__init__.py
  Apps/phreversinglabs/reversinglabs.json
  Apps/phreversinglabs/reversinglabs_connector.py
  Apps/phreversinglabs/reversinglabs_consts.py
  Apps/phreversinglabs/reversinglabs_template.html
  Apps/phreversinglabs/reversinglabs_view.py
Labels: appname-reversinglabs, certified, team-phantom-saas-b

#471 Screenshot Machine: PAPP-14436: Deprecated API change
  Apps/phscreenshotmachine/ssmachine_connector.py
Labels: appname-screenshotmachine, certified, team-phantom-saas-b

#468 jira: Bug fix and improvement as per PAPP-13996
  Apps/phjira/__init__.py
  Apps/phjira/jira.json
  Apps/phjira/jira_connector.py
  Apps/phjira/jira_consts.py
  Apps/phjira/jira_get_ticket.html
  Apps/phjira/jira_list_tickets.html
  Apps/phjira/jira_search_users.html
  Apps/phjira/jira_set_status_items.html
  Apps/phjira/jira_update_ticket.html
  Apps/phjira/jira_view.py
  Apps/phjira/readme.html
Labels: appname-jira, certified

#378 DigitalShadows(PAPP-11277): Community app submission with bug fixes
  Apps/phdigitalshadows/README.md
  Apps/phdigitalshadows/__init__.py
  Apps/phdigitalshadows/digital_shadows.json
  Apps/phdigitalshadows/digital_shadows_connector.py
  Apps/phdigitalshadows/digital_shadows_consts.py
  Apps/phdigitalshadows/ds_databreach_connector.py
  Apps/phdigitalshadows/ds_incidents_connector.py
  Apps/phdigitalshadows/ds_infrastructure_connector.py
  Apps/phdigitalshadows/ds_intelligence_incidents_connector.py
  Apps/phdigitalshadows/ds_lookup_username_connector.py
  Apps/phdigitalshadows/ds_on_poll_connector.py
  Apps/phdigitalshadows/ds_search_entities_connector.py
  Apps/phdigitalshadows/ds_test_connectivity_connector.py
  Apps/phdigitalshadows/dsapi/__init__.py
  Apps/phdigitalshadows/dsapi/config/__init__.py
  Apps/phdigitalshadows/dsapi/config/config.py
  Apps/phdigitalshadows/dsapi/config/ds_proxy_config.py
  Apps/phdigitalshadows/dsapi/httplib2/__init__.py
  Apps/phdigitalshadows/dsapi/httplib2/cacerts.txt
  Apps/phdigitalshadows/dsapi/httplib2/certs.py
  Apps/phdigitalshadows/dsapi/httplib2/iri2uri.py
  Apps/phdigitalshadows/dsapi/httplib2/socks.py
  Apps/phdigitalshadows/dsapi/httplib2/test/other_cacerts.txt
  Apps/phdigitalshadows/dsapi/model/__init__.py
  Apps/phdigitalshadows/dsapi/model/data_breach.py
  Apps/phdigitalshadows/dsapi/model/data_breach_record.py
  Apps/phdigitalshadows/dsapi/model/data_breach_username_summary.py
  Apps/phdigitalshadows/dsapi/model/ds_model.py
  Apps/phdigitalshadows/dsapi/model/ds_pagination_grouping_iterator.py
  Apps/phdigitalshadows/dsapi/model/ds_pagination_iterator.py
  Apps/phdigitalshadows/dsapi/model/incident.py
  Apps/phdigitalshadows/dsapi/model/infrastructure.py
  Apps/phdigitalshadows/dsapi/model/infrastructure_ssl.py
  Apps/phdigitalshadows/dsapi/model/infrastructure_vulnerabilities.py
  Apps/phdigitalshadows/dsapi/model/intelligence_incident.py
  Apps/phdigitalshadows/dsapi/model/intelligence_incident_ioc.py
  Apps/phdigitalshadows/dsapi/model/pipeline.py
  Apps/phdigitalshadows/dsapi/model/search_entities.py
  Apps/phdigitalshadows/dsapi/service/__init__.py
  Apps/phdigitalshadows/dsapi/service/data_breach_record_service.py
  Apps/phdigitalshadows/dsapi/service/data_breach_service.py
  Apps/phdigitalshadows/dsapi/service/data_breach_username_service.py
  Apps/phdigitalshadows/dsapi/service/ds_abstract_service.py
  Apps/phdigitalshadows/dsapi/service/ds_base_service.py
  Apps/phdigitalshadows/dsapi/service/ds_find_service.py
  Apps/phdigitalshadows/dsapi/service/incident_service.py
  Apps/phdigitalshadows/dsapi/service/infrastructure_service.py
  Apps/phdigitalshadows/dsapi/service/infrastructure_ssl_service.py
  Apps/phdigitalshadows/dsapi/service/infrastructure_vulnerabilities_service.py
  Apps/phdigitalshadows/dsapi/service/intelligence_incident_service.py
  Apps/phdigitalshadows/dsapi/service/pipeline_service.py
  Apps/phdigitalshadows/dsapi/service/search_entities_service.py
  Apps/phdigitalshadows/dsapi/transform/__init__.py
  Apps/phdigitalshadows/dsapi/transform/ds_api_to_pipeline_transform.py
  Apps/phdigitalshadows/exception_handling_functions.py
  Apps/phdigitalshadows/exclude_files.txt
  Apps/phdigitalshadows/httplib2/__init__.py
  Apps/phdigitalshadows/httplib2/iri2uri.py
Labels: appname-digitalshadows, non-certified, papp-11277, team-slytherin

#312 Cuckoo: add option zip_and_encrypt to detonate file, add new action submit strings for hash submissions
  Apps/phcuckoo/__init__.py
  Apps/phcuckoo/cuckoo.json
  Apps/phcuckoo/cuckoo_connector.py
  Apps/phcuckoo/cuckoo_consts.py
  Apps/phcuckoo/cuckoo_view.py
  Apps/phcuckoo/readme.html
  Apps/phcuckoo/view_results.html
  Apps/phcuckoo/wheels/pexpect-4.8.0-py2.py3-none-any.whl
  Apps/phcuckoo/wheels/ptyprocess-0.7.0-py2.py3-none-any.whl
  Apps/phcuckoo/zip_and_encrypt.py
Labels: PAPP-12642, appname-cuckoo, certified, external-contributor, team-slytherin

#474 DigitalShadows(PAPP-11277): App Version Upgrade
  Apps/phdigitalshadows/digital_shadows.json
Labels: appname-digitalshadows, non-certified

#447 Sixgill Darkfeed(PAPP-13606): Community app submission with bug fixes
  Apps/phsixgilldarkfeed/__init__.py
  Apps/phsixgilldarkfeed/logo_sixgilldarkfeed.svg
  Apps/phsixgilldarkfeed/logo_sixgilldarkfeed_dark.svg
  Apps/phsixgilldarkfeed/readme.html
  Apps/phsixgilldarkfeed/sixgill_artifact.py
  Apps/phsixgilldarkfeed/sixgill_container.py
  Apps/phsixgilldarkfeed/sixgill_on_poll_connector.py
  Apps/phsixgilldarkfeed/sixgill_reputation.py
  Apps/phsixgilldarkfeed/sixgill_test_connectivity_connector.py
  Apps/phsixgilldarkfeed/sixgill_utils.py
  Apps/phsixgilldarkfeed/sixgilldarkfeed.json
  Apps/phsixgilldarkfeed/sixgilldarkfeed_connector.py
  Apps/phsixgilldarkfeed/sixgilldarkfeed_consts.py
  Apps/phsixgilldarkfeed/wheels/sixgill_clients-0.1.7-py2.py3-none-any.whl
Labels: PAPP-13606, appname-sixgilldarkfeed, external-contributor, non-certified

#472 Cisco Umbrella: Initial app submission
  Apps/phciscoumbrella/__init__.py
  Apps/phciscoumbrella/ciscoumbrella.json
  Apps/phciscoumbrella/ciscoumbrella_connector.py
  Apps/phciscoumbrella/ciscoumbrella_consts.py
  Apps/phciscoumbrella/logo_ciscoumbrella.svg
  Apps/phciscoumbrella/logo_ciscoumbrella_dark.svg
  Apps/phciscoumbrella/readme.html
Labels: appname-ciscoumbrella, certified, team-phantom-saas-b

#479 Sixgill Darkfeed: Updating the license in the JSON file
  Apps/phsixgilldarkfeed/sixgilldarkfeed.json
Labels: appname-sixgilldarkfeed, non-certified

#443 Visualping(PAPP-13609): Adding Phantom app for visualping
  Apps/phvisualping/__init__.py
  Apps/phvisualping/logo_visualping.svg
  Apps/phvisualping/logo_visualping_dark.svg
  Apps/phvisualping/readme.html
  Apps/phvisualping/visualping.json
  Apps/phvisualping/visualping_connector.py
  Apps/phvisualping/visualping_consts.py
Labels: PAPP-13609, appname-visualping, external-contributor, non-certified, team-slytherin

#481 Cisco Umbrella: Updating readme.html file for the app
  Apps/phciscoumbrella/readme.html
Labels: appname-ciscoumbrella, certified, team-phantom-saas-b

#461 Adding Phantom App for phpaloaltocortexxdr
  Apps/phpaloaltocortexxdr/__init__.py
  Apps/phpaloaltocortexxdr/logo_paloaltocortexxdr.svg
  Apps/phpaloaltocortexxdr/logo_paloaltocortexxdr_dark.svg
  Apps/phpaloaltocortexxdr/paloaltocortexxdr.json
  Apps/phpaloaltocortexxdr/paloaltocortexxdr_connector.py
  Apps/phpaloaltocortexxdr/paloaltocortexxdr_consts.py
Labels: PAPP-13698, appname-paloaltocortexxdr, external-contributor, non-certified, team-slytherin

#446 add new google cloud storage app
  Apps/phgcloudstorage/__init__.py
  Apps/phgcloudstorage/gcloudstorage.json
  Apps/phgcloudstorage/gcloudstorage_connector.py
  Apps/phgcloudstorage/gcloudstorage_consts.py
  Apps/phgcloudstorage/logo_gcloudstorage.svg
  Apps/phgcloudstorage/logo_gcloudstorage_dark.svg
  Apps/phgcloudstorage/readme.html
Labels: PAPP-13605, appname-gcloudstorage, external-contributor, non-certified, team-slytherin

#484 paloaltocortexxdr(PAPP-13698): Handled BugFix
  Apps/phpaloaltocortexxdr/paloaltocortexxdr.json
  Apps/phpaloaltocortexxdr/paloaltocortexxdr_connector.py
Labels: appname-paloaltocortexxdr, non-certified

#488 Update CONTRIBUTING.md with updated process details
  .github/CONTRIBUTING.md
  Apps/phsmime/smime.json
  Apps/phvisualping/visualping.json
Labels: team-ravenclaw

#480 Cisco Umbrella Investigate-Initial App Submission
  Apps/phciscoumbrellainvestigate/__init__.py
  Apps/phciscoumbrellainvestigate/ciscoumbrellainvestigate.json
  Apps/phciscoumbrellainvestigate/ciscoumbrellainvestigate_connector.py
  Apps/phciscoumbrellainvestigate/ciscoumbrellainvestigate_consts.py
  Apps/phciscoumbrellainvestigate/logo_cisco.svg
  Apps/phciscoumbrellainvestigate/logo_cisco_dark.svg
Labels: appname-ciscoumbrellainvestigate, certified

#490 Cisco Umbrella Investigate: Renaming logo files names
  Apps/phciscoumbrellainvestigate/ciscoumbrellainvestigate.json
Labels: appname-ciscoumbrellainvestigate, certified

#489 Google Cloud Storage(PAPP-13605): App logo update
  Apps/phgcloudstorage/logo_gcloudstorage_dark.svg
Labels: PAPP-13605, appname-gcloudstorage, non-certified, team-slytherin

#482 New ADLDAP Phantom App PAPP-14244
  Apps/phadldap/__init__.py
  Apps/phadldap/adldap.json
  Apps/phadldap/adldap_connector.py
  Apps/phadldap/display_attributes.html
  Apps/phadldap/logo_microsoft.svg
  Apps/phadldap/logo_microsoft_dark.svg
  Apps/phadldap/query_view.py
  Apps/phadldap/readme.md
  Apps/phadldap/wheels/ldap3-2.6.1-py2.py3-none-any.whl
  Apps/phadldap/wheels/pyasn1-0.4.7-py2.py3-none-any.whl
Labels: appname-adldap, certified, team-ravenclaw

#435 New pull request for Phsentinelone v2.1
  Apps/phsentinelone/__init__.py
  Apps/phsentinelone/logo_sentinelone.svg
  Apps/phsentinelone/logo_sentinelone_dark.svg
  Apps/phsentinelone/readme.html
  Apps/phsentinelone/sentinelone.json
  Apps/phsentinelone/sentinelone_connector.py
  Apps/phsentinelone/sentinelone_consts.py
  Apps/phsentinelone/sentinelone_list_endpoints.html
  Apps/phsentinelone/sentinelone_utilities.py
  Apps/phsentinelone/sentinelone_view.py
Labels: PAPP-13608, appname-sentinelone, external-contributor, non-certified, team-slytherin, waiting-for-contributor

#438 GreyNoise(PAPP-13607): Adding Phantom App for GreyNoise
  Apps/phgreynoise/__init__.py
  Apps/phgreynoise/exclude_files.txt
  Apps/phgreynoise/greynoise.json
  Apps/phgreynoise/greynoise_connector.py
  Apps/phgreynoise/greynoise_consts.py
  Apps/phgreynoise/greynoise_view.py
  Apps/phgreynoise/logo_greynoise.svg
  Apps/phgreynoise/logo_greynoise_dark.svg
  Apps/phgreynoise/readme.html
  Apps/phgreynoise/view_reports.html
Labels: PAPP-13607, appname-greynoise, external-contributor, non-certified, team-slytherin

#381 OKTA: Fixes #380: Add disable_tokens action to Okta App
  Apps/phokta/__init__.py
  Apps/phokta/display_add_group.html
  Apps/phokta/display_get_group.html
  Apps/phokta/display_get_user.html
  Apps/phokta/display_identity_providers.html
  Apps/phokta/display_list_user.html
  Apps/phokta/display_list_user_groups.html
  Apps/phokta/display_set_password.html
  Apps/phokta/okta.json
  Apps/phokta/okta_connector.py
  Apps/phokta/okta_consts.py
  Apps/phokta/okta_view.py
  Apps/phokta/readme.html
Labels: PAPP-12812, appname-okta, certified, external-contributor, team-slytherin

#485 WindowsDefenderATP(PAPP-14055): Made code changes related to non interactive oauth
  Apps/phwindowsdefenderatp/readme.html
  Apps/phwindowsdefenderatp/windowsdefenderatp.json
  Apps/phwindowsdefenderatp/windowsdefenderatp_connector.py
  Apps/phwindowsdefenderatp/windowsdefenderatp_consts.py
Labels: appname-windowsdefenderatp, certified, team-gryffindor

#494 SentinelOne(PAPP-13608): Updated license
  Apps/phsentinelone/__init__.py
  Apps/phsentinelone/readme.html
  Apps/phsentinelone/sentinelone.json
  Apps/phsentinelone/sentinelone_connector.py
  Apps/phsentinelone/sentinelone_consts.py
  Apps/phsentinelone/sentinelone_utilities.py
Labels: appname-sentinelone, non-certified, team-slytherin

#487 JAMF(PAPP-13767): Community app submission with bug fixes
  Apps/phjamf/__init__.py
  Apps/phjamf/jamf.json
  Apps/phjamf/jamf_connector.py
  Apps/phjamf/jamf_consts.py
  Apps/phjamf/logo_jamf.svg
  Apps/phjamf/logo_jamf_dark.svg
Labels: PAPP-13767, appname-jamf, non-certified, team-slytherin

#512 SentinelOne(PAPP-13608): Added playbook backward compatibility
  Apps/phsentinelone/readme.html
Labels: appname-sentinelone, non-certified

#469 Slack: App update submissions from PRs #455, #453, #451
  Apps/phslack/img/slack_add_scopes.png
  Apps/phslack/img/slack_allow_app.png
  Apps/phslack/img/slack_asset_info.png
  Apps/phslack/img/slack_asset_settings.png
  Apps/phslack/img/slack_authorize_app.png
  Apps/phslack/img/slack_basic_info.png
  Apps/phslack/img/slack_bot_user.png
  Apps/phslack/img/slack_create_bot.png
  Apps/phslack/img/slack_enable_interactive_messages.png
  Apps/phslack/img/slack_ingest_settings.png
  Apps/phslack/img/slack_install_app.png
  Apps/phslack/img/slack_interactive_messages.png
  Apps/phslack/img/slack_permissions.png
  Apps/phslack/img/slack_post_url.png
  Apps/phslack/img/slack_system_settings.png
  Apps/phslack/readme.html
  Apps/phslack/slack.json
  Apps/phslack/slack_bot.py
  Apps/phslack/slack_connector.py
  Apps/phslack/slack_consts.py
Labels: PAPP-13630, appname-slack, certified, external-contributor, team-slytherin

#513 PAPP-14755 added 'remove permission' action
  Apps/phawslambda/awslambda.json
  Apps/phawslambda/awslambda_connector.py
Labels: appname-awslambda, certified, team-ravenclaw
