Repository phantomcyber/phantom-apps, pull requests merged in 2021-01, with the labels that each got.

#415 PassiveTotal: Bug fixes and Enhancement for PAPP-12833
  Apps/phpassivetotal/__init__.py
  Apps/phpassivetotal/passivetotal.json
  Apps/phpassivetotal/passivetotal_connector.py
  Apps/phpassivetotal/passivetotal_consts.py
  Apps/phpassivetotal/readme.html
Labels: PAPP-12833, appname-passivetotal, certified, splunk-update, team-gryffindor

#436 Proofpoint TAP: Updating license string for release
  Apps/phproofpoint/__init__.py
  Apps/phproofpoint/proofpoint.json
  Apps/phproofpoint/proofpoint_connector.py
  Apps/phproofpoint/proofpoint_consts.py
Labels: PAPP-12413, appname-proofpoint, non-certified, team-slytherin

#300 Windows Defender ATP: Support for query parameter in "list devices" action
  Apps/phwindowsdefenderatp/__init__.py
  Apps/phwindowsdefenderatp/readme.html
  Apps/phwindowsdefenderatp/windowsdefenderatp.json
  Apps/phwindowsdefenderatp/windowsdefenderatp_connector.py
  Apps/phwindowsdefenderatp/windowsdefenderatp_consts.py
Labels: PAPP-11203, PAPP-12270, appname-windowsdefenderatp, certified, external-contributor, team-slytherin

#427 PAPP-12255: python 2to3 changes of carbon black response
  Apps/phcarbonblackresponse/carbonblack.json
  Apps/phcarbonblackresponse/carbonblack_connector.py
  Apps/phcarbonblackresponse/carbonblack_consts.py
  Apps/phcarbonblackresponse/carbonblack_view.py
  Apps/phcarbonblackresponse/cb_file_details.html
  Apps/phcarbonblackresponse/query_results.html
  Apps/phcarbonblackresponse/readme.html
Labels: appname-carbonblackresponse, certified, team-phantom-saas-b

#441 PAPP-12307 AWS Lambda: Added assume role functionality to actions
  Apps/phawslambda/awslambda.json
  Apps/phawslambda/awslambda_connector.py
  Apps/phawslambda/awslambda_consts.py
  Apps/phawslambda/logo_aws.svg
  Apps/phawslambda/logo_aws_dark.svg
Labels: appname-awslambda, certified

#383 Tanium REST: Changes to address issues #382, #187 and #309
  Apps/phtaniumrest/__init__.py
  Apps/phtaniumrest/readme.html
  Apps/phtaniumrest/taniumrest.json
  Apps/phtaniumrest/taniumrest_connector.py
  Apps/phtaniumrest/taniumrest_consts.py
  Apps/phtaniumrest/taniumrest_run_query.html
  Apps/phtaniumrest/taniumrest_view.py
Labels: PAPP-11317, appname-taniumrest, certified, external-contributor, team-slytherin

#433 PAPP-13264: Nessus: Python 3 conversion
  Apps/phnessus/__init__.py
  Apps/phnessus/nessusscanner.json
  Apps/phnessus/nessusscanner_connector.py
  Apps/phnessus/nessusscanner_consts.py
  Apps/phnessus/readme.html
Labels: appname-nessus, certified, team-phantom-saas-b

#444 Cybereason: Adding code into the next from the private repo of this application
  Apps/phcybereason/__init__.py
  Apps/phcybereason/cybereason.json
  Apps/phcybereason/cybereason_connector.py
  Apps/phcybereason/exclude_files.txt
  Apps/phcybereason/logo_cybereason.svg
  Apps/phcybereason/logo_cybereason_dark.svg
Labels: appname-cybereason, non-certified

#445 Axonius: Adding code into the next from the private repo of this application
  Apps/phaxoniuscybersecurityassetmanagement/__init__.py
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement.json
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_connector.py
  Apps/phaxoniuscybersecurityassetmanagement/exclude_files.txt
  Apps/phaxoniuscybersecurityassetmanagement/logo_axoniuscybersecurityassetmanagement.svg
  Apps/phaxoniuscybersecurityassetmanagement/logo_axoniuscybersecurityassetmanagement_dark.svg
Labels: appname-axonius, non-certified

#398 Fireeye ETP App submission
  Apps/phfireeyeetp/__init__.py
  Apps/phfireeyeetp/fireeyeetp.json
  Apps/phfireeyeetp/fireeyeetp_connector.py
  Apps/phfireeyeetp/fireeyeetp_consts.py
  Apps/phfireeyeetp/logo_fireeyeetp.svg
  Apps/phfireeyeetp/logo_fireeyeetp_dark.svg
  Apps/phfireeyeetp/readme.html
Labels: PAPP-12151, appname-fireeyeetp, external-contributor, non-certified, team-slytherin

#396 Fireeye AX(PAPP-12149): Community app submission with bug fixes
  Apps/phfireeyeax/__init__.py
  Apps/phfireeyeax/fireeyeax.json
  Apps/phfireeyeax/fireeyeax_connector.py
  Apps/phfireeyeax/fireeyeax_consts.py
  Apps/phfireeyeax/fireeyeax_get_report.html
  Apps/phfireeyeax/fireeyeax_view.py
  Apps/phfireeyeax/logo_fireeyeax.svg
  Apps/phfireeyeax/logo_fireeyeax_dark.svg
  Apps/phfireeyeax/readme.html
Labels: PAPP-12149, appname-fireeyeax, external-contributor, non-certified, team-slytherin

#259 Cybereason(PAPP-12405): Community app submission with bug fixes
  Apps/phcybereason/__init__.py
  Apps/phcybereason/cybereason.json
  Apps/phcybereason/cybereason_connector.py
  Apps/phcybereason/cybereason_consts.py
  Apps/phcybereason/cybereason_poller.py
  Apps/phcybereason/cybereason_query_actions.py
  Apps/phcybereason/cybereason_session.py
  Apps/phcybereason/exclude_files.txt
  Apps/phcybereason/readme.html
Labels: PAPP-12405, appname-cybereason, external-contributor, non-certified, team-slytherin

#449 AWSLambda[PAPP-13424]: JSON changes
  Apps/phawslambda/__init__.py
  Apps/phawslambda/awslambda.json
  Apps/phawslambda/awslambda_connector.py
  Apps/phawslambda/awslambda_consts.py
  Apps/phawslambda/awslambda_invoke.html
  Apps/phawslambda/awslambda_view.py
Labels: appname-awslambda, certified, team-phantom-saas-a

#394 Akamai WAF App submission
  Apps/phakamaiwaf/__init__.py
  Apps/phakamaiwaf/akamai/__init__.py
  Apps/phakamaiwaf/akamai/edgegrid/__init__.py
  Apps/phakamaiwaf/akamai/edgegrid/edgegrid.py
  Apps/phakamaiwaf/akamai/edgegrid/edgerc.py
  Apps/phakamaiwaf/akamai/edgegrid/test/__init__.py
  Apps/phakamaiwaf/akamai/edgegrid/test/edgerc_that_doesnt_parse
  Apps/phakamaiwaf/akamai/edgegrid/test/sample_edgerc
  Apps/phakamaiwaf/akamai/edgegrid/test/test_edgegrid.py
  Apps/phakamaiwaf/akamai/edgegrid/test/testdata.json
  Apps/phakamaiwaf/akamaiwaf.json
  Apps/phakamaiwaf/akamaiwaf_connector.py
  Apps/phakamaiwaf/akamaiwaf_consts.py
  Apps/phakamaiwaf/logo_akamaiwaf.svg
  Apps/phakamaiwaf/logo_akamaiwaf_dark.svg
  Apps/phakamaiwaf/readme.html
Labels: PAPP-12827, appname-akamaiwaf, external-contributor, non-certified, team-slytherin

#458 Nessus: Updated the readme file
  Apps/phnessus/readme.html
Labels: appname-nessus, certified, team-phantom-saas-b

#456 CrowdStrikeOAuthAPI[PAPP-13500]: Bug fixation
  Apps/phcrowdstrikeoauth/__init__.py
  Apps/phcrowdstrikeoauth/crowdstrike_assign_hosts.html
  Apps/phcrowdstrikeoauth/crowdstrike_create_session.html
  Apps/phcrowdstrikeoauth/crowdstrike_get_indicator.html
  Apps/phcrowdstrikeoauth/crowdstrike_get_user_roles.html
  Apps/phcrowdstrikeoauth/crowdstrike_hunt_view.html
  Apps/phcrowdstrikeoauth/crowdstrike_list_custom_indicators.html
  Apps/phcrowdstrikeoauth/crowdstrike_list_incident_behaviors.html
  Apps/phcrowdstrikeoauth/crowdstrike_list_incidents.html
  Apps/phcrowdstrikeoauth/crowdstrike_process_list_view.html
  Apps/phcrowdstrikeoauth/crowdstrike_remove_hosts.html
  Apps/phcrowdstrikeoauth/crowdstrike_set_status_view.html
  Apps/phcrowdstrikeoauth/crowdstrike_update_indicator.html
  Apps/phcrowdstrikeoauth/crowdstrike_upload_indicator.html
  Apps/phcrowdstrikeoauth/crowdstrike_view.py
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi.json
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_connector.py
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_consts.py
  Apps/phcrowdstrikeoauth/parse_cs_events.py
  Apps/phcrowdstrikeoauth/readme.html
Labels: appname-crowdstrike-oauth, certified, team-gryffindor

#385 Google People(PAPP-10555): Community app submission with bug fixes
  Apps/phgooglepeople/__iniit__.py
  Apps/phgooglepeople/__init__.py
  Apps/phgooglepeople/googlepeople.json
  Apps/phgooglepeople/googlepeople_connector.py
  Apps/phgooglepeople/googlepeople_consts.py
  Apps/phgooglepeople/googlepeople_copy_contact.html
  Apps/phgooglepeople/googlepeople_list_directory.html
  Apps/phgooglepeople/googlepeople_view.py
  Apps/phgooglepeople/logo_googlepeople.svg
  Apps/phgooglepeople/logo_googlepeople_dark.svg
  Apps/phgooglepeople/readme.html
  Apps/phgooglepeople/wheels/cachetools-2.0.1-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/google_api_python_client-1.6.4-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/google_auth-1.20.0-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/google_auth_httplib2-0.0.4-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/google_auth_oauthlib-0.4.1-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/httplib2-0.18.1-py3-none-any.whl
  Apps/phgooglepeople/wheels/httplib2-0.9.2-py2-none-any.whl
  Apps/phgooglepeople/wheels/oauth2client-4.1.3-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/pyasn1_modules-0.2.8-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/rsa-4.4.1-py2.py3-none-any.whl
  Apps/phgooglepeople/wheels/uritemplate-3.0.1-py2.py3-none-any.whl
Labels: appname-google-people, certified, papp-10555, team-slytherin

#426 Committing new version of Axonius integration. (#348)
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement.json
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_connector.py
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_consts.py
  Apps/phaxoniuscybersecurityassetmanagement/exclude_files.txt
  Apps/phaxoniuscybersecurityassetmanagement/logo_axoniuscybersecurityassetmanagement.svg
  Apps/phaxoniuscybersecurityassetmanagement/logo_axoniuscybersecurityassetmanagement_dark.svg
  Apps/phaxoniuscybersecurityassetmanagement/readme.html
Labels: PAPP-11619, appname-axoniuscybersecurityassetmanagement, external-contributor, non-certified, team-slytherin

#408 Add actions to phtaniumtrace (Tanium Threat Response) app
  Apps/phtaniumtrace/__init__.py
  Apps/phtaniumtrace/readme.html
  Apps/phtaniumtrace/taniumthreatresponse.json
  Apps/phtaniumtrace/taniumthreatresponse_connector.py
  Apps/phtaniumtrace/taniumthreatresponse_consts.py
  Apps/phtaniumtrace/taniumthreatresponse_display_events.html
  Apps/phtaniumtrace/taniumthreatresponse_display_process_tree.html
  Apps/phtaniumtrace/taniumthreatresponse_view.py
Labels: PAPP-12351, appname-taniumtrace, external-contributor, non-certified, team-slytherin

#462 Greynoise: Adding code into the next from the private repo of this application
  Apps/phgreynoise/__init__.py
  Apps/phgreynoise/exclude_files.txt
  Apps/phgreynoise/greynoise.json
  Apps/phgreynoise/greynoise_connector.py
  Apps/phgreynoise/greynoise_consts.py
  Apps/phgreynoise/logo_greynoise.svg
  Apps/phgreynoise/logo_greynoise_dark.svg
Labels: appname-greynoise, non-certified

#466 AWS Athena[PAPP-13583] Python 2to3 and json changes
  Apps/phawsathena/__init__.py
  Apps/phawsathena/athena.json
  Apps/phawsathena/athena_connector.py
  Apps/phawsathena/athena_consts.py
  Apps/phawsathena/athena_view.py
  Apps/phawsathena/readme.html
  Apps/phawsathena/run_query.html
Labels: appname-awsathena, certified, team-phantom-saas-a
