Repository phantomcyber/phantom-apps, pull requests merged in 2021-09, with the labels that each got.

#675 Move config.json to a sub-directory
  Apps/phbitglass/config/config.json
Labels: non-certified, appname-bitglass

#700 PAPP-17441 removed unnecessary check in test connectivity
  Apps/phawsiam/awsiam_connector.py
Labels: appname-awsiam, certified

#690 FireEye HX: Feature - In reference to PAPP-18413
  Apps/phfireeyehx/fireeyehx.json
  Apps/phfireeyehx/fireeyehx_connector.py
  Apps/phfireeyehx/fireeyehx_consts.py
Labels: non-certified, team-slytherin, external-contributor, appname-fireeyehx, PAPP-19500

#694 phaxoniuscybersecurityassetmanagement: feature - Adding ability to include addition fields in all non saved query calls.
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement.json
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_connector.py
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_consts.py
Labels: non-certified, team-slytherin, external-contributor, appname-axoniuscybersecurityassetmanagement, PAPP-19614

#702 PAPP-17438 AWS IAM: App version bump up
  Apps/phawsiam/awsiam.json
Labels: appname-awsiam, certified

#703 PAPP-17523 AWS WAFv2 version bump
  Apps/phawswafv2/awswafv2.json
Labels: certified, appname-awswafv2

#704 PAPP-17551-AWS Athena version bump
  Apps/phawsathena/athena.json
Labels: appname-awsathena, certified

#698 CiscoWebex: New App - PAPP-19561 Initial commit of webex app development.
  Apps/phciscowebex/__init__.py
  Apps/phciscowebex/ciscowebex.json
  Apps/phciscowebex/ciscowebex_connector.py
  Apps/phciscowebex/ciscowebex_consts.py
  Apps/phciscowebex/logo_ciscowebex.svg
  Apps/phciscowebex/logo_ciscowebex_dark.svg
  Apps/phciscowebex/readme.html
  Apps/phciscowebex/requirements.txt
Labels: certified, appname-ciscowebex

#706 cisco webex documentation change
  Apps/phciscowebex/ciscowebex.json
  Apps/phciscowebex/ciscowebex_connector.py
  Apps/phciscowebex/readme.html
Labels: non-certified, appname-ciscowebex

#699 DigiCert: Initial app submission: New App - Done with dev activities of app
  Apps/phdigicert/__init__.py
  Apps/phdigicert/digicert.json
  Apps/phdigicert/digicert.svg
  Apps/phdigicert/digicert_connector.py
  Apps/phdigicert/digicert_consts.py
  Apps/phdigicert/digicert_dark.svg
  Apps/phdigicert/readme.html
Labels: non-certified, team-phantom-saas-a, PAPP-15458, appname-digicert

#709 PAPP-17508 AWS SecHub bump of app version
  Apps/phawssecurityhub/awssecurityhub.json
Labels: appname-awssecurityhub, certified

#710 PAPP-17454 AWS CloudTrail bumped app version
  Apps/phawscloudtrail/awscloudtrail.json
Labels: appname-awscloudtrail, certified

#701 Axonius: Adding the ability to add additional fields to the returned object. (#694)
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement.json
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_connector.py
  Apps/phaxoniuscybersecurityassetmanagement/axoniuscybersecurityassetmanagement_consts.py
  Apps/phaxoniuscybersecurityassetmanagement/readme.html
Labels: non-certified, team-slytherin, appname-axoniuscybersecurityassetmanagement, PAPP-19614

#708 Chronicle: Fixed a bug for the run automation flag
  Apps/phchronicle/chronicle.json
  Apps/phchronicle/chronicle_connector.py
Labels: non-certified, team-slytherin, external-contributor, appname-chronicle, PAPP-19921

#712 PAPP-17643 AWS Lambda updated app version and latest tested version
  Apps/phawslambda/awslambda.json
Labels: appname-awslambda, certified

#711 DigiCert: Adding required datapaths and other minor changes
  Apps/phdigicert/digicert.json
  Apps/phdigicert/digicert.svg
  Apps/phdigicert/digicert_dark.svg
Labels: non-certified, team-phantom-saas-a, appname-digicert

#713 Added "get email" action to Gmail app
  Apps/phgsgmail/gsgmail.json
  Apps/phgsgmail/gsgmail_connector.py
  Apps/phgsgmail/gsgmail_get_email.html
  Apps/phgsgmail/gsgmail_view.py
  Apps/phgsgmail/wheels/google-auth/google_auth-1.1.1-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/google-auth/google_auth-1.30.2-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/google-auth/google_auth_httplib2-0.0.2-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/googleapiclient_wheel/google_api_python_client-1.6.4-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/httplib2_wheel/httplib2-0.19.1-py3-none-any.whl
  Apps/phgsgmail/wheels/httplib2_wheel/httplib2-0.9.2-py2-none-any.whl
  Apps/phgsgmail/wheels/oauth2client_wheel/oauth2client-4.1.2-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/oauth2client_wheel/pyasn1_modules-0.1.1-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/oauth2client_wheel/rsa-4.7.2-py3-none-any.whl
  Apps/phgsgmail/wheels/rsa_wheel/rsa-3.4.2-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/rsa_wheel/rsa-4.7.2-py3-none-any.whl
  Apps/phgsgmail/wheels/uritemplate_wheel/uritemplate-3.0.0-py2.py3-none-any.whl
  data/expected_failures.json
Labels: enhancement, certified, team-ravenclaw, appname-gsuite-gmail, PAPP-19719, PAPP-18158

#668 phazurevmmanagement: Feature - Added better run_command
  Apps/phazurevmmanagement/microsoftazurevmmanagement.json
  Apps/phazurevmmanagement/microsoftazurevmmanagement_connector.py
  Apps/phazurevmmanagement/microsoftazurevmmanagement_consts.py
  Apps/phazurevmmanagement/readme.html
Labels: certified, team-slytherin, external-contributor, appname-azurevmmanagement, PAPP-19068

#722 GS Gmail: App version bump for the new release
  Apps/phgsgmail/gsgmail.json
Labels: certified, appname-gsgmail

#692 Windows Remote Management: Docs - add_data to custom_parser for non-zero status code
  Apps/phwinrm/readme.html
  Apps/phwinrm/winrm.json
Labels: appname-winrm, certified, team-slytherin, external-contributor, PAPP-19609

#720 Microsoft Azure Compute: added validator for ipv6 contains
  Apps/phazurevmmanagement/microsoftazurevmmanagement.json
  Apps/phazurevmmanagement/microsoftazurevmmanagement_connector.py
  Apps/phazurevmmanagement/microsoftazurevmmanagement_consts.py
  Apps/phazurevmmanagement/readme.html
Labels: certified, team-slytherin, appname-azurevmmanagement, PAPP-19068

#689 TheHive: Add Action - Add create_task_log action to app
  Apps/phthehive/readme.html
  Apps/phthehive/thehive.json
  Apps/phthehive/thehive_connector.py
  Apps/phthehive/thehive_consts.py
  Apps/phthehive/thehive_display_get_observables.html
Labels: certified, team-slytherin, external-contributor, appname-thehive, PAPP-19499

#719 AwsSecurityHub: Bugfix - PAPP-19896 Fixed typo 'Recorde' in 'awssecurityhub_get_findings.html'…
  Apps/phawssecurityhub/awssecurityhub_get_findings.html
Labels: appname-awssecurityhub, certified, team-ravenclaw

#729 Winrm: Updating app version
  Apps/phwinrm/winrm.json
Labels: appname-winrm, certified
