Repository phantomcyber/phantom-apps, pull requests merged in 2021-08, with the labels that each got.

#659 PAPP-18146 Checkpoint: Updating major app version
  Apps/phcheckpointfirewall/checkpoint.json
Labels: appname-checkpointfirewall, certified

#661 Microsoft Azure Compute: Adding repo from Gitlab master branch
  Apps/phazurevmmanagement/__init__.py
  Apps/phazurevmmanagement/microsoftazurevmmanagement.json
  Apps/phazurevmmanagement/microsoftazurevmmanagement.svg
  Apps/phazurevmmanagement/microsoftazurevmmanagement_add_application_security_group.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_add_network_security_group.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_connector.py
  Apps/phazurevmmanagement/microsoftazurevmmanagement_consts.py
  Apps/phazurevmmanagement/microsoftazurevmmanagement_dark.svg
  Apps/phazurevmmanagement/microsoftazurevmmanagement_get_system_info.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_list_snapshots.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_list_tags.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_list_virtual_networks.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_list_vms.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_snapshot_vm.html
  Apps/phazurevmmanagement/microsoftazurevmmanagement_view.py
  Apps/phazurevmmanagement/readme.html
Labels: appname-azure-vm-management, certified

#663 Watson Language Translator V3: App Update
  Apps/phibmwatsonv3/__init__.py
  Apps/phibmwatsonv3/logo_ibmwatson.svg
  Apps/phibmwatsonv3/logo_ibmwatson_dark.svg
  Apps/phibmwatsonv3/readme.html
  Apps/phibmwatsonv3/watsonv3.json
  Apps/phibmwatsonv3/watsonv3_connector.py
  Apps/phibmwatsonv3/watsonv3_consts.py
Labels: appname-ibmwatsonv3, certified, team-phantom-saas-a

#664 G Suite for Gmail: Adding code build from Gitlab master branch to master
  Apps/phgsgmail/__init__.py
  Apps/phgsgmail/gsgmail.json
  Apps/phgsgmail/gsgmail_connector.py
  Apps/phgsgmail/gsgmail_consts.py
  Apps/phgsgmail/gsgmail_list_users.html
  Apps/phgsgmail/gsgmail_view.py
  Apps/phgsgmail/logo_google.svg
  Apps/phgsgmail/logo_google_dark.svg
  Apps/phgsgmail/readme.html
  Apps/phgsgmail/wheels/cachetools-4.0.0-py3-none-any.whl
  Apps/phgsgmail/wheels/google-api-python-client-1.7.11.tar.gz
  Apps/phgsgmail/wheels/google_auth-1.11.2-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/google_auth_httplib2-0.0.3-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/httplib2-0.17.0-py3-none-any.whl
  Apps/phgsgmail/wheels/pyasn1_modules-0.2.8-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/rsa-4.0-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/uritemplate-3.0.1-py2.py3-none-any.whl
Labels: appname-gsuite-gmail

#662 G Suite for Gmail: Adding repo from Gitlab next branch
  Apps/phgsgmail/__init__.py
  Apps/phgsgmail/gsgmail.json
  Apps/phgsgmail/gsgmail_connector.py
  Apps/phgsgmail/gsgmail_consts.py
  Apps/phgsgmail/gsgmail_list_users.html
  Apps/phgsgmail/gsgmail_view.py
  Apps/phgsgmail/logo_google.svg
  Apps/phgsgmail/logo_google_dark.svg
  Apps/phgsgmail/readme.html
  Apps/phgsgmail/wheels/cachetools-4.0.0-py3-none-any.whl
  Apps/phgsgmail/wheels/google-api-python-client-1.7.11.tar.gz
  Apps/phgsgmail/wheels/google_auth-1.11.2-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/google_auth_httplib2-0.0.3-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/httplib2-0.17.0-py3-none-any.whl
  Apps/phgsgmail/wheels/pyasn1_modules-0.2.8-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/rsa-4.0-py2.py3-none-any.whl
  Apps/phgsgmail/wheels/uritemplate-3.0.1-py2.py3-none-any.whl
  data/expected_failures.json
Labels: certified, appname-gsuite-gmail

#665 Microsoft Azure Compute: Adding code build changes from Gitlab next branch to next
  Apps/phazurevmmanagement/microsoftazurevmmanagement.json
Labels: certified, appname-azure-vm-management

#651 WindowsDefenderATP: PAPP-18940: Bug fixes
  Apps/phwindowsdefenderatp/readme.html
  Apps/phwindowsdefenderatp/windowsdefenderatp.json
  Apps/phwindowsdefenderatp/windowsdefenderatp_connector.py
  Apps/phwindowsdefenderatp/windowsdefenderatp_consts.py
  Apps/phwindowsdefenderatp/windowsdefenderatp_list_alerts.html
  Apps/phwindowsdefenderatp/windowsdefenderatp_view.py
Labels: appname-windowsdefenderatp, certified, team-gryffindor, PAPP-18940

#667 PAPP-18172 PAPP-19045 - fixed a bug with on_poll
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_connector.py
Labels: certified, team-ravenclaw, appname-crowdstrikeoauth, PAPP-19045

#633 phendace: bug fix - Updating Endace App to min Phantom version 4.10.0 & Python3
  Apps/phendace/__init__.py
  Apps/phendace/endace.json
  Apps/phendace/endace_connector.py
  Apps/phendace/endace_consts.py
Labels: non-certified, team-slytherin, external-contributor, appname-endace, PAPP-18434

#655 Cofense Triage v2: App Update
  Apps/phcofensetriagev2/cofensetriagev2.json
  Apps/phcofensetriagev2/cofensetriagev2_connector.py
  Apps/phcofensetriagev2/readme.html
Labels: non-certified, team-slytherin, external-contributor, appname-cofensetriagev2, PAPP-18988

#658 AWS GuardDuty: PAPP-17489 bug fixes
  Apps/phawsguardduty/awsguardduty.json
  Apps/phawsguardduty/awsguardduty_connector.py
Labels: certified, appname-awsguardduty

#669 AWS GuardDuty: PAPP-17489 fixed typo
  Apps/phawsguardduty/awsguardduty_connector.py
Labels: certified, appname-awsguardduty

#670 AWS Athena: PAPP-18737 bug fix: fixed wheel files
  Apps/phawsathena/athena.json
  Apps/phawsathena/wheels/docutils-0.14-py2-none-any.whl
  Apps/phawsathena/wheels/docutils-0.16-py2.py3-none-any.whl
  Apps/phawsathena/wheels/futures-3.1.1-py2-none-any.whl
  Apps/phawsathena/wheels/s3transfer-0.1.11-py2.py3-none-any.whl
  Apps/phawsathena/wheels/s3transfer-0.2.0-py2.py3-none-any.whl
Labels: appname-awsathena, certified

#673 CrowdStrike OAuth: App version bump
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi.json
Labels: certified, appname-crowdstrikeoauth

#654 phgreynoise: Feature - Update to version 2.1.0
  Apps/phgreynoise/greynoise.json
  Apps/phgreynoise/greynoise_connector.py
  Apps/phgreynoise/greynoise_consts.py
  Apps/phgreynoise/greynoise_view.py
  Apps/phgreynoise/readme.html
  Apps/phgreynoise/view_reports.html
Labels: non-certified, team-slytherin, external-contributor, appname-greynoise, PAPP-18985

#674 WindowsDefenderATP:Feature:Added get_alert and update_alert
  Apps/phwindowsdefenderatp/windowsdefenderatp.json
  Apps/phwindowsdefenderatp/windowsdefenderatp_connector.py
  Apps/phwindowsdefenderatp/windowsdefenderatp_consts.py
Labels: appname-windowsdefenderatp, certified, team-gryffindor, external-contributor, PAPP-19263

#465 Mimecast - add support auth for users behind a 2FA
  Apps/phmimecast/__init__.py
  Apps/phmimecast/display_get_email.html
  Apps/phmimecast/mimecast.json
  Apps/phmimecast/mimecast_connector.py
  Apps/phmimecast/mimecast_consts.py
  Apps/phmimecast/mimecast_view.py
  Apps/phmimecast/readme.html
Labels: appname-mimecast, certified, team-slytherin, external-contributor, PAPP-13931

#672 PAPP-19044 Panorama : Feature - UnblockURL action should work in the latest version
  Apps/phpanorama/panorama.json
  Apps/phpanorama/panorama_connector.py
  Apps/phpanorama/panorama_consts.py
Labels: certified, appname-panorama

#671 Panorama: Feature - BlockUrl action should work for all versions
  Apps/phpanorama/panorama.json
  Apps/phpanorama/panorama_connector.py
  Apps/phpanorama/panorama_consts.py
Labels: certified, appname-panorama

#680 TheHive: Migrating the code build from Gitlab next -> next
  Apps/phthehive/__init__.py
  Apps/phthehive/logo_thehive.svg
  Apps/phthehive/logo_thehive_dark.svg
  Apps/phthehive/thehive.json
  Apps/phthehive/thehive_connector.py
  Apps/phthehive/thehive_consts.py
  Apps/phthehive/thehive_display_get_observables.html
  Apps/phthehive/thehive_view.py
  data/expected_failures.json
Labels: certified, appname-thehive, PAPP-19330

#681 TheHive: Adding code build from the Gitlab master -> master
  Apps/phthehive/__init__.py
  Apps/phthehive/logo_thehive.svg
  Apps/phthehive/logo_thehive_dark.svg
  Apps/phthehive/thehive.json
  Apps/phthehive/thehive_connector.py
  Apps/phthehive/thehive_consts.py
  Apps/phthehive/thehive_display_get_observables.html
  Apps/phthehive/thehive_view.py
Labels: certified, appname-thehive, PAPP-19330

#679 GreyNoise[PAPP-18985]: Resolving the pipeline issue
  Apps/phgreynoise/greynoise_connector.py
Labels: non-certified, appname-greynoise, PAPP-18985

#683 AWS Security Hub: PAPP-17513 updated urllib3 library due to vulnerability detected
  Apps/phawssecurityhub/awssecurityhub.json
  Apps/phawssecurityhub/wheels/urllib3-1.26.4-py2.py3-none-any.whl
  Apps/phawssecurityhub/wheels/urllib3-1.26.6-py2.py3-none-any.whl
Labels: appname-awssecurityhub, certified

#684 AWS GuardDuty: PAPP-17494 updating urllib3 due to vulnerability
  Apps/phawsguardduty/awsguardduty.json
  Apps/phawsguardduty/boto3/urllib3-1.26.2-py2.py3-none-any.whl
  Apps/phawsguardduty/boto3/urllib3-1.26.6-py2.py3-none-any.whl
Labels: certified, appname-awsguardduty

#685 Panorama: Feature - Add "Status" column to the widget of RunQuery action
  Apps/phpanorama/panorama.json
Labels: certified, appname-panorama

#686 PAPP-19361 URLVoid: Migrating Next branch code
  Apps/phurlvoid/__init__.py
  Apps/phurlvoid/logo_urlvoid.svg
  Apps/phurlvoid/logo_urlvoid_dark.svg
  Apps/phurlvoid/public_suffix_list.dat
  Apps/phurlvoid/readme.html
  Apps/phurlvoid/requirements.txt
  Apps/phurlvoid/urlvoid.json
  Apps/phurlvoid/urlvoid_connector.py
  Apps/phurlvoid/urlvoid_consts.py
  Apps/phurlvoid/wheels/requests_file-1.4.2-py2.py3-none-any.whl
  Apps/phurlvoid/wheels/tldextract-2.1.0-py2.py3-none-any.whl
Labels: certified, appname-urlvoid

#657 Group IB Threat Intelligence and Attribution : New App - Add first version of app
  Apps/phgroupibthreatintelligenceandattribution/__init__.py
  Apps/phgroupibthreatintelligenceandattribution/groupibthreatintelligenceandattribution.json
  Apps/phgroupibthreatintelligenceandattribution/groupibthreatintelligenceandattribution.svg
  Apps/phgroupibthreatintelligenceandattribution/groupibthreatintelligenceandattribution_connector.py
  Apps/phgroupibthreatintelligenceandattribution/groupibthreatintelligenceandattribution_consts.py
  Apps/phgroupibthreatintelligenceandattribution/groupibthreatintelligenceandattribution_dark.svg
  Apps/phgroupibthreatintelligenceandattribution/readme.html
  Apps/phgroupibthreatintelligenceandattribution/wheels/pytia-0.5.1-py3-none-any.whl
Labels: non-certified, team-slytherin, external-contributor, appname-groupibthreatintelligenceandattribution, PAPP-19026

#693 AWS WAFv2: PAPP-17524 fixed bug with setting region during assume role
  Apps/phawswafv2/awswafv2_connector.py
Labels: certified, appname-awswafv2

#695 PAPP-15546: Mimecast: Bug Fix: Initializing global variables to avoid attribute error in finalize block in case of corrupted state file
  Apps/phmimecast/mimecast_connector.py
Labels: appname-mimecast, certified, team-slytherin, PAPP-13931

#696 Panorama: App bump to push commit for build_phantom job
  Apps/phpanorama/panorama.json
Labels: certified, appname-panorama

#697 PAPP-19356 URLVoid: Community app release
  Apps/phurlvoid/urlvoid.json
Labels: certified, appname-urlvoid
