Repository phantomcyber/phantom-apps, pull requests merged in 2021-06, with the labels that each got.

#597 Set/Reset Password Functionality
  Apps/phadldap/adldap.json
  Apps/phadldap/adldap_connector.py
Labels: appname-adldap, certified

#409 Code42: forked app and added 2 new actions
  Apps/phcode42/__init__.py
  Apps/phcode42/code42.json
  Apps/phcode42/code42_connector.py
  Apps/phcode42/code42_consts.py
  Apps/phcode42/code42_run_query.html
  Apps/phcode42/code42_view.py
  Apps/phcode42/logo_code42.svg
  Apps/phcode42/logo_code42_dark.svg
  Apps/phcode42/readme.html
Labels: PAPP-12811, appname-code42, certified, external-contributor, team-slytherin

#586 CrowdStrikeOauth: PAPP-15030 FalconxSandbox related actions
  Apps/phcrowdstrikeoauth/crowdstrike_detonate_file.html
  Apps/phcrowdstrikeoauth/crowdstrike_detonate_url.html
  Apps/phcrowdstrikeoauth/crowdstrike_file_reputation.html
  Apps/phcrowdstrikeoauth/crowdstrike_hunt_view.html
  Apps/phcrowdstrikeoauth/crowdstrike_process_list_view.html
  Apps/phcrowdstrikeoauth/crowdstrike_url_reputation.html
  Apps/phcrowdstrikeoauth/crowdstrike_view.py
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi.json
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_connector.py
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_consts.py
  Apps/phcrowdstrikeoauth/parse_cs_events.py
  Apps/phcrowdstrikeoauth/readme.html
Labels: PAPP-15030, appname-crowdstrike-oauth, certified, team-gryffindor

#600 Correct name of prop in action_result.data
  Apps/pharcsight/arcsight.json
  Apps/pharcsight/arcsight_connector.py
  Apps/pharcsight/arcsight_consts.py
  Apps/pharcsight/display_results.html
Labels: PAPP-17213, appname-arcsight, external-contributor, non-certified, team-slytherin

#616 PAPP-17643 added visibility key to hide use_role in cloud, per PSAAS-…
  Apps/phawslambda/awslambda.json
  data/expected_failures.json
Labels: appname-awslambda, certified

#615 Cofense Triage v2: New App - Initial app submission
  Apps/phcofensetriagev2/__init__.py
  Apps/phcofensetriagev2/cofensetriagev2.json
  Apps/phcofensetriagev2/cofensetriagev2_connector.py
  Apps/phcofensetriagev2/cofensetriagev2_consts.py
  Apps/phcofensetriagev2/cofensetriagev2_get_comment.html
  Apps/phcofensetriagev2/cofensetriagev2_get_report.html
  Apps/phcofensetriagev2/cofensetriagev2_get_responses.html
  Apps/phcofensetriagev2/cofensetriagev2_get_rule.html
  Apps/phcofensetriagev2/cofensetriagev2_get_rules.html
  Apps/phcofensetriagev2/cofensetriagev2_view.py
  Apps/phcofensetriagev2/default_timezones.py
  Apps/phcofensetriagev2/logo_cofensetriagev2.svg
  Apps/phcofensetriagev2/logo_cofensetriagev2_dark.svg
  Apps/phcofensetriagev2/readme.html
Labels: PAPP-17710, appname-cofensetriagev2, external-contributor, non-certified, team-slytherin

#619 RSA SA: Python 2to3 conversion and Phantom SaaS compatibility as per PAPP-17916
  Apps/phrsasecurityanalytics/__init__.py
  Apps/phrsasecurityanalytics/parse_incidents.py
  Apps/phrsasecurityanalytics/rsasa.json
  Apps/phrsasecurityanalytics/rsasa_connector.py
  Apps/phrsasecurityanalytics/rsasa_consts.py
  data/expected_failures.json
Labels: appname-rsasecurityanalytics, certified, team-phantom-saas-a

#617 CrowdstrikeOAuth: Bug fix as per PAPP-17795
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi.json
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_connector.py
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_consts.py
Labels: PAPP-17795, appname-crowdstrikeoauth, certified, team-gryffindor

#620 RSA SA : Bug Fix as per PAPP-18113
  Apps/phrsasecurityanalytics/rsasa_connector.py
Labels: appname-rsasecurityanalytics, certified, team-phantom-saas-a

#618 WHOIS: Bug fix as per PAPP-11658
  Apps/phwhois/__init__.py
  Apps/phwhois/readme.html
  Apps/phwhois/whois.json
  Apps/phwhois/whois_connector.py
  Apps/phwhois/whois_consts.py
  Apps/phwhois/whois_domain.html
  Apps/phwhois/whois_view.py
Labels: PAPP-11658, appname-whois, certified, team-gryffindor

#626 AWS Security Hub: PAPP-17507 add assume role functionality
  Apps/phawssecurityhub/awssecurityhub.json
  Apps/phawssecurityhub/awssecurityhub_connector.py
  Apps/phawssecurityhub/awssecurityhub_consts.py
Labels: appname-awssecurityhub, certified

#625 AWS GuardDuty: PAPP-17489 - added assume role functionality
  Apps/phawsguardduty/awsguardduty.json
  Apps/phawsguardduty/awsguardduty_connector.py
  Apps/phawsguardduty/awsguardduty_consts.py
  Apps/phawsguardduty/readme.html
Labels: appname-awsguardduty, certified
