Repository phantomcyber/phantom-apps, pull requests merged in 2021-03, with the labels that each got.

#510 PAPP-14793 2to3 changes and follow dev best practices.
  Apps/phvictorops/__init__.py
  Apps/phvictorops/display_list_routing.html
  Apps/phvictorops/readme.html
  Apps/phvictorops/victorops.json
  Apps/phvictorops/victorops_connector.py
  Apps/phvictorops/victorops_consts.py
  Apps/phvictorops/victorops_view.py
Labels: appname-victorops, certified, team-phantom-saas-b

#511 Carbon Black Response: PAPP-14877: Bug fixes
  Apps/phcarbonblackresponse/carbonblack.json
  Apps/phcarbonblackresponse/carbonblack_connector.py
  Apps/phcarbonblackresponse/carbonblack_consts.py
  Apps/phcarbonblackresponse/query_results.html
Labels: appname-carbon-black-response, appname-carbonblackresponse, certified, team-gryffindor

#283 PAPP-10466: JIRA: Handling the fix for the scheduled on poll in cases of explicit change in state file or state file unable to save the last_time in the first run due to action failures
  Apps/phjira/jira.json
  Apps/phjira/jira_connector.py
  Apps/phjira/jira_consts.py
  Apps/phjira/readme.html
  data/expected_failures.json
Labels: PAPP-12814, appname-jira, certified, team-slytherin

#516 JIRA: Wheel file copyright update
  Apps/phjira/readme.html
Labels: appname-jira, certified

#505 add optional parameter to override filename of saved screenshot
  Apps/phscreenshotmachine/display_scrshot.html
  Apps/phscreenshotmachine/ssmachine.json
  Apps/phscreenshotmachine/ssmachine_connector.py
  Apps/phscreenshotmachine/ssmachine_consts.py
Labels: PAPP-14977, appname-screenshotmachine, certified, external-contributor, team-slytherin

#521 Rm/adldap bug fixes
  Apps/phadldap/adldap_connector.py
Labels: appname-adldap, certified

#514 Cofense Triage app update
  Apps/phcofensetriage/__init__.py
  Apps/phcofensetriage/cofensetriage.json
  Apps/phcofensetriage/cofensetriage_connector.py
  Apps/phcofensetriage/cofensetriage_consts.py
  Apps/phcofensetriage/default_timezones.py
  Apps/phcofensetriage/readme.html
Labels: PAPP-15096, appname-cofensetriage, external-contributor, non-certified, team-slytherin

#515 Google Chronicle Phantom Integration: App Submission for the Phase 2
  Apps/phchronicle/README.md
  Apps/phchronicle/__init__.py
  Apps/phchronicle/chronicle.json
  Apps/phchronicle/chronicle_connector.py
  Apps/phchronicle/chronicle_consts.py
  Apps/phchronicle/chronicle_list_alerts.html
  Apps/phchronicle/chronicle_list_assets.html
  Apps/phchronicle/chronicle_list_ioc_details.html
  Apps/phchronicle/chronicle_list_iocs.html
  Apps/phchronicle/chronicle_view.py
  Apps/phchronicle/logo_chronicle.svg
  Apps/phchronicle/readme.html
Labels: PAPP-15097, appname-chronicle, external-contributor, non-certified, team-slytherin

#509 New App: Google Cloud Compute Engine
  Apps/phgcloudcomputeengine/__init__.py
  Apps/phgcloudcomputeengine/gcloudcomputeengine.json
  Apps/phgcloudcomputeengine/gcloudcomputeengine_connector.py
  Apps/phgcloudcomputeengine/gcloudcomputeengine_consts.py
  Apps/phgcloudcomputeengine/logo_gcloudcomputeengine.svg
  Apps/phgcloudcomputeengine/logo_gcloudcomputeengine_dark.svg
  Apps/phgcloudcomputeengine/readme.html
Labels: PAPP-15002, appname-gcloudcomputeengine, external-contributor, non-certified, team-slytherin

#507 WARC(PAPP-14997): Net-new Web Archive (WARC) App
  Apps/phwarc/__init__.py
  Apps/phwarc/logo_warc.svg
  Apps/phwarc/logo_warc_dark.svg
  Apps/phwarc/warc.json
  Apps/phwarc/warc_connector.py
  Apps/phwarc/warc_consts.py
Labels: PAPP-14997, appname-warc, external-contributor, non-certified, team-slytherin

#419 Panorama: Initial bug fixes and Python 2 to 3 conversion as per PAPP-12365
  Apps/phpanorama/__init__.py
  Apps/phpanorama/logo_panorama.svg
  Apps/phpanorama/logo_panorama_dark.svg
  Apps/phpanorama/pan.png
  Apps/phpanorama/panorama.json
  Apps/phpanorama/panorama_connector.py
  Apps/phpanorama/panorama_consts.py
  Apps/phpanorama/readme.html
Labels: PAPP-12365, appname-panorama, certified, team-slytherin

#519 Phredcanary app initial commit
  Apps/phredcanary/RedCanary/__init__.py
  Apps/phredcanary/RedCanary/detections.py
  Apps/phredcanary/__init__.py
  Apps/phredcanary/readme.html
  Apps/phredcanary/redcanary.json
  Apps/phredcanary/redcanary.svg
  Apps/phredcanary/redcanary_connector.py
  Apps/phredcanary/redcanary_consts.py
  Apps/phredcanary/redcanary_dark.svg
Labels: PAPP-15324, appname-redcanary, external-contributor, non-certified, team-slytherin

#523 PAPP-15127: ArcSightESM: Non-Certified
  Apps/pharcsight/__init__.py
  Apps/pharcsight/arcsight.json
  Apps/pharcsight/arcsight_connector.py
  Apps/pharcsight/arcsight_consts.py
  Apps/pharcsight/arcsight_view.py
  Apps/pharcsight/display_results.html
  Apps/pharcsight/logo_hewlettpackardenterprise.svg
  Apps/pharcsight/logo_hewlettpackardenterprise_dark.svg
Labels: appname-arcsight, non-certified, team-phantom-saas-b

#478 phpassivetotal: adding 4 new actions
  Apps/phpassivetotal/passivetotal.json
  Apps/phpassivetotal/passivetotal_connector.py
  Apps/phpassivetotal/passivetotal_consts.py
  Apps/phpassivetotal/readme.html
  data/expected_failures.json
Labels: PAPP-14471, appname-passivetotal, certified, external-contributor, team-slytherin

#539 Arcsight: Copyright year update
  Apps/pharcsight/__init__.py
  Apps/pharcsight/arcsight.json
  Apps/pharcsight/arcsight_connector.py
  Apps/pharcsight/arcsight_consts.py
  Apps/pharcsight/arcsight_view.py
  Apps/pharcsight/display_results.html
Labels: appname-arcsight, non-certified, team-phantom-saas-b

#530 Phredcanary app initial commit (#519)
  Apps/phredcanary/RedCanary/__init__.py
  Apps/phredcanary/RedCanary/detections.py
  Apps/phredcanary/__init__.py
  Apps/phredcanary/logo_redcanary.svg
  Apps/phredcanary/logo_redcanary_dark.svg
  Apps/phredcanary/redcanary.json
  Apps/phredcanary/redcanary_connector.py
  Apps/phredcanary/redcanary_consts.py
Labels: PAPP-15324, appname-redcanary, non-certified, team-slytherin

#498 Initial commit for new Request Tracker app
  Apps/phrequesttracker/Makefile
  Apps/phrequesttracker/__init__.py
  Apps/phrequesttracker/docker-compose.yml
  Apps/phrequesttracker/logo_bestpractical.svg
  Apps/phrequesttracker/logo_bestpractical_dark.svg
  Apps/phrequesttracker/readme.html
  Apps/phrequesttracker/requesttracker.json
  Apps/phrequesttracker/requesttracker_connector.py
  Apps/phrequesttracker/requesttracker_consts.py
Labels: PAPP-13144, appname-requesttracker, certified, team-ravenclaw

#546 Don't request creating an issue for pull requests
  .github/CONTRIBUTING.md
Labels: PAPP-16002, team-ravenclaw
