Repository phantomcyber/phantom-apps, pull requests merged in 2021-07, with the labels that each got.

#628 PAPP-17507 AWS SecurityHub fixed parameter passing to client method
  Apps/phawssecurityhub/awssecurityhub_connector.py
Labels: appname-awssecurityhub, certified

#623 PAPP-18119: Falcon Sandbox: Next to Next
  Apps/phvxstream/README.md
  Apps/phvxstream/__init__.py
  Apps/phvxstream/api_classes/__init__.py
  Apps/phvxstream/api_classes/api_caller.py
  Apps/phvxstream/api_classes/api_key_current.py
  Apps/phvxstream/api_classes/api_report_file.py
  Apps/phvxstream/api_classes/api_report_state.py
  Apps/phvxstream/api_classes/api_report_summary.py
  Apps/phvxstream/api_classes/api_search_hash.py
  Apps/phvxstream/api_classes/api_search_terms.py
  Apps/phvxstream/api_classes/api_submit_file.py
  Apps/phvxstream/api_classes/api_submit_hash_for_url.py
  Apps/phvxstream/api_classes/api_submit_online_file.py
  Apps/phvxstream/api_classes/api_submit_url_for_analysis.py
  Apps/phvxstream/display_report.html
  Apps/phvxstream/display_report_data.html
  Apps/phvxstream/display_report_status.html
  Apps/phvxstream/display_url_hash.html
  Apps/phvxstream/logo_vxstream.svg
  Apps/phvxstream/logo_vxstream_dark.svg
  Apps/phvxstream/readme.html
  Apps/phvxstream/vxstream.json
  Apps/phvxstream/vxstream_connector.py
  Apps/phvxstream/vxstream_consts.py
  Apps/phvxstream/vxstream_view.py
Labels: appname-vxstream, non-certified

#622 PAPP-18119: Falcon Sandbox: Master to Master
  Apps/phvxstream/README.md
  Apps/phvxstream/__init__.py
  Apps/phvxstream/api_classes/__init__.py
  Apps/phvxstream/api_classes/api_caller.py
  Apps/phvxstream/api_classes/api_key_current.py
  Apps/phvxstream/api_classes/api_report_file.py
  Apps/phvxstream/api_classes/api_report_state.py
  Apps/phvxstream/api_classes/api_report_summary.py
  Apps/phvxstream/api_classes/api_search_hash.py
  Apps/phvxstream/api_classes/api_search_terms.py
  Apps/phvxstream/api_classes/api_submit_file.py
  Apps/phvxstream/api_classes/api_submit_hash_for_url.py
  Apps/phvxstream/api_classes/api_submit_online_file.py
  Apps/phvxstream/api_classes/api_submit_url_for_analysis.py
  Apps/phvxstream/display_report.html
  Apps/phvxstream/display_report_data.html
  Apps/phvxstream/display_report_status.html
  Apps/phvxstream/display_url_hash.html
  Apps/phvxstream/logo_vxstream.svg
  Apps/phvxstream/logo_vxstream_dark.svg
  Apps/phvxstream/readme.html
  Apps/phvxstream/vxstream.json
  Apps/phvxstream/vxstream_connector.py
  Apps/phvxstream/vxstream_consts.py
  Apps/phvxstream/vxstream_view.py
Labels: appname-vxstream, non-certified

#632 Cofense Triage v2 : App update
  Apps/phcofensetriagev2/cofensetriagev2.json
Labels: PAPP-18432, appname-cofensetriagev2, external-contributor, non-certified, team-slytherin

#638 Cofense Triage V2: Resolve unicode encode issue
  Apps/phcofensetriagev2/cofensetriagev2.json
Labels: PAPP-18432, appname-cofensetriagev2, non-certified, team-slytherin

#631 Agari: New App - Initial app submission
  Apps/phagari/__init__.py
  Apps/phagari/agari.json
  Apps/phagari/agari_connector.py
  Apps/phagari/agari_consts.py
  Apps/phagari/agari_get_message.html
  Apps/phagari/agari_list_messages.html
  Apps/phagari/agari_list_policy_events.html
  Apps/phagari/agari_view.py
  Apps/phagari/logo_agari.svg
  Apps/phagari/logo_agari_dark.svg
  Apps/phagari/readme.html
Labels: PAPP-18426, appname-agari, external-contributor, non-certified, team-slytherin

#627 Checkpoint Firewall - python3 conversion
  Apps/phcheckpointfirewall/__init__.py
  Apps/phcheckpointfirewall/checkpoint.json
  Apps/phcheckpointfirewall/checkpoint.png
  Apps/phcheckpointfirewall/checkpoint_connector.py
  Apps/phcheckpointfirewall/checkpoint_consts.py
  Apps/phcheckpointfirewall/logo_checkpoint.svg
  Apps/phcheckpointfirewall/logo_checkpoint_dark.svg
Labels: appname-checkpointfirewall, certified, py3-conversion

#635 PAPP-18442: Add Non-Certified Autofocus: Next to Next
  Apps/phautofocus/__init__.py
  Apps/phautofocus/af_get_report.html
  Apps/phautofocus/autofocus.json
  Apps/phautofocus/autofocus_connector.py
  Apps/phautofocus/autofocus_consts.py
  Apps/phautofocus/autofocus_view.py
  Apps/phautofocus/logo_paloaltonetworks.svg
  Apps/phautofocus/logo_paloaltonetworks_dark.svg
  Apps/phautofocus/pan-python/AUTHORS.rst
  Apps/phautofocus/pan-python/HISTORY.rst
  Apps/phautofocus/pan-python/LICENSE.txt
  Apps/phautofocus/pan-python/MANIFEST.in
  Apps/phautofocus/pan-python/README.txt
  Apps/phautofocus/pan-python/bin/panafapi.py
  Apps/phautofocus/pan-python/bin/panconf.py
  Apps/phautofocus/pan-python/bin/panwfapi.py
  Apps/phautofocus/pan-python/bin/panxapi.py
  Apps/phautofocus/pan-python/doc/pan.afapi.rst
  Apps/phautofocus/pan-python/doc/pan.wfapi.rst
  Apps/phautofocus/pan-python/doc/pan.xapi.rst
  Apps/phautofocus/pan-python/doc/panconf.rst
  Apps/phautofocus/pan-python/doc/panrc.rst
  Apps/phautofocus/pan-python/doc/panwfapi.rst
  Apps/phautofocus/pan-python/doc/panxapi.rst
  Apps/phautofocus/pan-python/setup.py
  Apps/phautofocus/requirements.txt
  data/expected_failures.json
Labels: appname-autofocus, non-certified

#640 PAPP-18442 Add Non-Certified Autofocus: Master to Master
  Apps/phautofocus/__init__.py
  Apps/phautofocus/af_get_report.html
  Apps/phautofocus/autofocus.json
  Apps/phautofocus/autofocus_connector.py
  Apps/phautofocus/autofocus_consts.py
  Apps/phautofocus/autofocus_view.py
  Apps/phautofocus/logo_paloaltonetworks.svg
  Apps/phautofocus/logo_paloaltonetworks_dark.svg
  Apps/phautofocus/pan-python/AUTHORS.rst
  Apps/phautofocus/pan-python/HISTORY.rst
  Apps/phautofocus/pan-python/LICENSE.txt
  Apps/phautofocus/pan-python/MANIFEST.in
  Apps/phautofocus/pan-python/README.txt
  Apps/phautofocus/pan-python/bin/panafapi.py
  Apps/phautofocus/pan-python/bin/panconf.py
  Apps/phautofocus/pan-python/bin/panwfapi.py
  Apps/phautofocus/pan-python/bin/panxapi.py
  Apps/phautofocus/pan-python/doc/pan.afapi.rst
  Apps/phautofocus/pan-python/doc/pan.wfapi.rst
  Apps/phautofocus/pan-python/doc/pan.xapi.rst
  Apps/phautofocus/pan-python/doc/panconf.rst
  Apps/phautofocus/pan-python/doc/panrc.rst
  Apps/phautofocus/pan-python/doc/panwfapi.rst
  Apps/phautofocus/pan-python/doc/panxapi.rst
  Apps/phautofocus/pan-python/setup.py
Labels: appname-autofocus, non-certified

#639 Agari: Initial app submission (#631)
  Apps/phagari/__init__.py
  Apps/phagari/agari.json
  Apps/phagari/agari_connector.py
  Apps/phagari/agari_consts.py
  Apps/phagari/agari_get_message.html
  Apps/phagari/agari_list_messages.html
  Apps/phagari/agari_list_policy_events.html
  Apps/phagari/agari_view.py
  Apps/phagari/logo_agari.svg
  Apps/phagari/logo_agari_dark.svg
  Apps/phagari/readme.html
Labels: PAPP-18426, appname-agari, non-certified

#642 FireEye HX: Adding codebase from Gitlab to Github
  Apps/phfireeyehx/__init__.py
  Apps/phfireeyehx/fireeyehx.json
  Apps/phfireeyehx/fireeyehx_connector.py
  Apps/phfireeyehx/logo_fireeye.svg
  Apps/phfireeyehx/logo_fireeye_dark.svg
Labels: appname-fireeyehx, non-certified

#629 Oletools: New App - Initial App Contribution
  Apps/pholetools/__init__.py
  Apps/pholetools/logo_splunk.svg
  Apps/pholetools/logo_splunk_dark.svg
  Apps/pholetools/oletools.json
  Apps/pholetools/oletools_connector.py
  Apps/pholetools/oletools_consts.py
  Apps/pholetools/readme.html
  Apps/pholetools/wheels/colorclass-2.2.0.zip
  Apps/pholetools/wheels/olefile-0.46.zip
  Apps/pholetools/wheels/oletools-0.60-py2.py3-none-any.whl
Labels: PAPP-18411, appname-oletools, external-contributor, non-certified, team-slytherin

#643 Crowdstrike Oauth: Bugfix as per PAPP-18484
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi.json
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_connector.py
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_consts.py
Labels: PAPP-18484, appname-crowdstrikeoauth, certified, team-gryffindor

#646 Crowdstrike Oauth: Bugfix as per PAPP-18786
  Apps/phcrowdstrikeoauth/crowdstrikeoauthapi_connector.py
Labels: PAPP-18786, appname-crowdstrikeoauth, certified, team-gryffindor

#647 AWS WAFv2: PAPP-17524 adding assume role functionality
  Apps/phawswafv2/awswafv2.json
  Apps/phawswafv2/awswafv2_connector.py
  Apps/phawswafv2/awswafv2_consts.py
  Apps/phawswafv2/readme.html
Labels: appname-awswafv2, certified

#650 AWS Athena: PAPP-17552 added assume role functionality
  Apps/phawsathena/athena.json
  Apps/phawsathena/athena_connector.py
  Apps/phawsathena/athena_consts.py
  Apps/phawsathena/readme.html
  data/expected_failures.json
Labels: appname-awsathena, certified

#649 AWS Security Hub: PAPP-17507 - made access and secret keys optional
  Apps/phawssecurityhub/awssecurityhub.json
Labels: appname-awssecurityhub, certified

#652 AWS CloudTrail: PAPP-17454 adding assume role functionality
  Apps/phawscloudtrail/awscloudtrail.json
  Apps/phawscloudtrail/awscloudtrail_connector.py
  Apps/phawscloudtrail/awscloudtrail_consts.py
  Apps/phawscloudtrail/readme.html
Labels: appname-awscloudtrail, certified

#641 PAPP-17222(Bishop Fox CAST): New App - Initial App Release
  Apps/phbishopfoxcast/__init__.py
  Apps/phbishopfoxcast/bishopfox.json
  Apps/phbishopfoxcast/bishopfox_connector.py
  Apps/phbishopfoxcast/bishopfox_consts.py
  Apps/phbishopfoxcast/logo_bishopfox.svg
  Apps/phbishopfoxcast/logo_bishopfox_dark.svg
  data/expected_failures.json
Labels: PAPP-17222, appname-bishopfoxcast, non-certified, team-slytherin
